@charset "UTF-8";
@import url("../fonts/opensans/opensans.css");
@import url("../fonts/uralita/uralita.css");
@import url("../fonts/aaron/aaron.css");
@import url("../fonts/fontawesome/fontawesome.css");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, nav {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

@font-face {
  font-family: 'entypo';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/entypo/entypo.eot");
  src: url("../fonts/entypo/entypo.eot?#iefix") format("eot"), url("../fonts/entypo/entypo.woff") format("woff"), url("../fonts/entypo/entypo.ttf") format("truetype"), url("../fonts/entypo/entypo.svg#entypo") format("svg"); }

body, html {
  margin: 0;
  padding: 0; }

body {
  background-color: white; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none; }

@media all and (max-height: 775px) {
  .game header {
    height: 45px;
    line-height: 45px;
    box-shadow: 0 0 3px 1px black; }
    .game header h1 {
      padding-left: 10px;
      font-family: Uralita;
      font-weight: bold;
      font-size: 35px; }
    .game header nav {
      position: absolute;
      top: 0;
      right: 10px; }
      .game header nav li {
        display: inline-block; }
  .game .board {
    margin-top: 10px;
    margin-left: 10px;
    float: left; }
  .game .cards {
    position: relative;
    margin-top: 10px;
    margin-left: 7px;
    float: left;
    width: 392.85714px;
    height: 550px;
    font-size: 0; }
    .game .cards .hand, .game .cards .discarded {
      position: absolute; }
    .game .cards .hand {
      bottom: 3px; }
    .game .cards .discarded {
      top: 0; }
  .game .players {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 212.18317px;
    height: 550px; }
    .game .players h1 {
      font-family: Uralita;
      font-size: 30px;
      display: none; }
    .game .players li {
      line-height: 1em;
      margin-bottom: 1em;
      font-family: "Open Sans";
      font-size: 20px;
      position: relative;
      color: white;
      text-shadow: 0 0 2px black; }
      .game .players li:before {
        content: "\00a0";
        display: inline-block;
        margin: 5px 10px 5px 5px;
        width: 1em;
        height: 1em;
        margin: 5px 15px 5px 5px;
        background-color: white; }
  .game .avatars li {
    line-height: 20px;
    margin-top: 1em;
    font-family: "Open Sans";
    font-size: 20px; }
    .game .avatars li img {
      position: relative;
      vertical-align: middle;
      max-height: 50px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px black, 0 0 0 3px white, 0 0 0 4px black;
      margin: 4px 16.5px 4px 4px; }
    .game .avatars li.active img {
      box-shadow: 0 0 0 1px black, 0 0 0 5px #48dd3c, 0 0 0 6px black, 0 0 4px 7px rgba(0, 0, 0, 0.4); }

  .board {
    font-size: 0;
    width: 550px; }
    .board li {
      position: relative;
      display: inline-block;
      width: 41px;
      height: 41px;
      margin: 5px 9px 9px 5px;
      box-shadow: 0 0 0 1px #aaaaaa, 0 0 0 4px #dfdfdf, 0 0 0 5px #aaaaaa;
      background-color: white;
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, white), color-stop(0, #f2f2f2));
      background-image: -webkit-linear-gradient(-45deg, white, white 50%, #f2f2f2 0);
      background-image: linear-gradient(-225deg,white, white 50%, #f2f2f2 0); }
      .board li:nth-child(10n) {
        margin-right: 0; }
      .board li:after {
        position: absolute;
        bottom: 4px;
        right: 2px;
        font-size: 20.5px;
        vertical-align: bottom;
        padding: 0;
        line-height: .75em;
        font-family: serif; }
      .board li:before {
        position: absolute;
        top: 2px;
        left: 6px;
        width: 25%;
        height: 25%;
        font-size: 19.52381px;
        font-family: "Uralita";
        font-weight: 200; }
      .board li.spade:after {
        content: "\2660"; }
      .board li.club:after {
        content: "\2663"; }
      .board li.heart:after {
        content: "\2665";
        color: #b30000; }
      .board li.diamond:after {
        content: "\2666";
        color: #b30000; }
      .board li.heart:before, .board li.diamond:before {
        color: #b30000; }
      .board li.joker:before {
        font-size: 30.75px;
        top: 0;
        left: 0;
        text-align: center;
        height: 41px;
        width: 41px;
        line-height: 41px; }
      .board li.joker:before, .board li.joker:after {
        position: absolute;
        font-family: "aaronfaces" !important; }
      .board li.joker-1:before {
        content: "p"; }
      .board li.joker-2:before {
        content: "v"; }
      .board li.joker-3:before {
        content: "d"; }
      .board li.joker-4:before {
        content: "w"; }
      .board li[data-card="ad"]:before, .board li[data-card="ah"]:before, .board li[data-card="ac"]:before, .board li[data-card="as"]:before {
        content: "A"; }
      .board li[data-card="2d"]:before, .board li[data-card="2h"]:before, .board li[data-card="2c"]:before, .board li[data-card="2s"]:before {
        content: "2"; }
      .board li[data-card="3d"]:before, .board li[data-card="3h"]:before, .board li[data-card="3c"]:before, .board li[data-card="3s"]:before {
        content: "3"; }
      .board li[data-card="4d"]:before, .board li[data-card="4h"]:before, .board li[data-card="4c"]:before, .board li[data-card="4s"]:before {
        content: "4"; }
      .board li[data-card="5d"]:before, .board li[data-card="5h"]:before, .board li[data-card="5c"]:before, .board li[data-card="5s"]:before {
        content: "5"; }
      .board li[data-card="6d"]:before, .board li[data-card="6h"]:before, .board li[data-card="6c"]:before, .board li[data-card="6s"]:before {
        content: "6"; }
      .board li[data-card="7d"]:before, .board li[data-card="7h"]:before, .board li[data-card="7c"]:before, .board li[data-card="7s"]:before {
        content: "7"; }
      .board li[data-card="8d"]:before, .board li[data-card="8h"]:before, .board li[data-card="8c"]:before, .board li[data-card="8s"]:before {
        content: "8"; }
      .board li[data-card="9d"]:before, .board li[data-card="9h"]:before, .board li[data-card="9c"]:before, .board li[data-card="9s"]:before {
        content: "9"; }
      .board li[data-card="td"]:before, .board li[data-card="th"]:before, .board li[data-card="tc"]:before, .board li[data-card="ts"]:before {
        content: "10"; }
      .board li[data-card="qd"]:before, .board li[data-card="qh"]:before, .board li[data-card="qc"]:before, .board li[data-card="qs"]:before {
        content: "Q"; }
      .board li[data-card="kd"]:before, .board li[data-card="kh"]:before, .board li[data-card="kc"]:before, .board li[data-card="ks"]:before {
        content: "K"; }

  ul.hand li {
    line-height: 1em;
    position: relative;
    border-radius: 0;
    display: inline-block;
    width: 66px;
    height: 110px;
    background-color: #ca8585;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca8585), color-stop(35%, #ca8585), color-stop(0, white));
    background-image: -webkit-linear-gradient(-220deg, #ca8585, #ca8585 35%, white 0);
    background-image: linear-gradient(-50deg,#ca8585, #ca8585 35%, white 0);
    box-shadow: 0 0 0 1px #864949, 0 0 0 5px #a65c5c, 0 0 0 6px #231313, 0 0 3px 7px rgba(0, 0, 0, 0.4);
    margin: 6px 6px 6px 6px;
    text-align: center; }
    ul.hand li.suit:before, ul.hand li.joker:before {
      content: "\00a0";
      position: absolute;
      top: 44px;
      left: 0;
      width: 44px;
      text-align: center;
      font-family: DotumChe, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", courier, serif;
      line-height: 1em;
      font-size: 39px; }
    ul.hand li.suit:after {
      position: absolute;
      top: 4px;
      left: 0;
      width: 44px;
      text-align: center;
      font-family: "Uralita";
      font-weight: 400;
      line-height: 1em;
      font-size: 39px; }
    ul.hand li span {
      position: absolute;
      bottom: 0;
      right: 6.6px; }
      ul.hand li span:before {
        font-size: 30.8px;
        line-height: 1em;
        color: white !important;
        font-family: serif; }
    ul.hand li.spade span:before, ul.hand li.spade:before {
      content: "\2660";
      color: black; }
    ul.hand li.spade:after {
      color: black; }
    ul.hand li.club span:before, ul.hand li.club:before {
      content: "\2663";
      color: black; }
    ul.hand li.club:after {
      color: black; }
    ul.hand li.heart span:before, ul.hand li.heart:before {
      content: "\2665";
      color: #b21f24; }
    ul.hand li.heart:after {
      color: #b21f24; }
    ul.hand li.diamond span:before, ul.hand li.diamond:before {
      content: "\2666";
      color: #b21f24; }
    ul.hand li.diamond:after {
      color: #b21f24; }
    ul.hand li.joker:before {
      top: 6.6px;
      font-size: 51.33333px;
      width: 100%;
      text-align: center;
      color: black; }
    ul.hand li.joker:after {
      bottom: 4px;
      right: 6px;
      font-size: 22px;
      line-height: 1.2em; }
    ul.hand li.joker:before, ul.hand li.joker:after {
      position: absolute;
      font-family: "aaronfaces" !important; }
    ul.hand li.joker-1:after, ul.hand li.joker-3:after {
      color: white; }
    ul.hand li.joker-2:after, ul.hand li.joker-4:after {
      color: #ca8585; }
    ul.hand li.joker-2, ul.hand li.joker-4 {
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(0, #ca8585));
      background-image: -webkit-linear-gradient(-220deg, white, white 35%, #ca8585 0);
      background-image: linear-gradient(-50deg,white, white 35%, #ca8585 0); }
    ul.hand li.joker-1:before {
      content: "p"; }
    ul.hand li.joker-1:after {
      content: "p"; }
    ul.hand li.joker-2:before {
      content: "v"; }
    ul.hand li.joker-2:after {
      content: "v"; }
    ul.hand li.joker-3:before {
      content: "d"; }
    ul.hand li.joker-3:after {
      content: "d"; }
    ul.hand li.joker-4:before {
      content: "w"; }
    ul.hand li.joker-4:after {
      content: "w"; }
    ul.hand li[data-card="ad"]:after, ul.hand li[data-card="ah"]:after, ul.hand li[data-card="ac"]:after, ul.hand li[data-card="as"]:after {
      content: "A"; }
    ul.hand li[data-card="2d"]:after, ul.hand li[data-card="2h"]:after, ul.hand li[data-card="2c"]:after, ul.hand li[data-card="2s"]:after {
      content: "2"; }
    ul.hand li[data-card="3d"]:after, ul.hand li[data-card="3h"]:after, ul.hand li[data-card="3c"]:after, ul.hand li[data-card="3s"]:after {
      content: "3"; }
    ul.hand li[data-card="4d"]:after, ul.hand li[data-card="4h"]:after, ul.hand li[data-card="4c"]:after, ul.hand li[data-card="4s"]:after {
      content: "4"; }
    ul.hand li[data-card="5d"]:after, ul.hand li[data-card="5h"]:after, ul.hand li[data-card="5c"]:after, ul.hand li[data-card="5s"]:after {
      content: "5"; }
    ul.hand li[data-card="6d"]:after, ul.hand li[data-card="6h"]:after, ul.hand li[data-card="6c"]:after, ul.hand li[data-card="6s"]:after {
      content: "6"; }
    ul.hand li[data-card="7d"]:after, ul.hand li[data-card="7h"]:after, ul.hand li[data-card="7c"]:after, ul.hand li[data-card="7s"]:after {
      content: "7"; }
    ul.hand li[data-card="8d"]:after, ul.hand li[data-card="8h"]:after, ul.hand li[data-card="8c"]:after, ul.hand li[data-card="8s"]:after {
      content: "8"; }
    ul.hand li[data-card="9d"]:after, ul.hand li[data-card="9h"]:after, ul.hand li[data-card="9c"]:after, ul.hand li[data-card="9s"]:after {
      content: "9"; }
    ul.hand li[data-card="td"]:after, ul.hand li[data-card="th"]:after, ul.hand li[data-card="tc"]:after, ul.hand li[data-card="ts"]:after {
      content: "10"; }
    ul.hand li[data-card="jd"]:after, ul.hand li[data-card="jh"]:after, ul.hand li[data-card="jc"]:after, ul.hand li[data-card="js"]:after {
      content: "J"; }
    ul.hand li[data-card="qd"]:after, ul.hand li[data-card="qh"]:after, ul.hand li[data-card="qc"]:after, ul.hand li[data-card="qs"]:after {
      content: "Q"; }
    ul.hand li[data-card="kd"]:after, ul.hand li[data-card="kh"]:after, ul.hand li[data-card="kc"]:after, ul.hand li[data-card="ks"]:after {
      content: "K"; }

  ul.discarded li {
    line-height: 1em;
    position: relative;
    border-radius: 0;
    display: inline-block;
    width: 66px;
    height: 110px;
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(35%, #cccccc), color-stop(0, white));
    background-image: -webkit-linear-gradient(-220deg, #cccccc, #cccccc 35%, white 0);
    background-image: linear-gradient(-50deg,#cccccc, #cccccc 35%, white 0);
    box-shadow: 0 0 0 1px #8c8c8c, 0 0 0 5px #a6a6a6, 0 0 0 6px #404040, 0 0 3px 7px rgba(0, 0, 0, 0.4);
    margin: 6px 6px 6px 6px;
    text-align: center; }
    ul.discarded li.suit:before, ul.discarded li.joker:before {
      content: "\00a0";
      position: absolute;
      top: 44px;
      left: 0;
      width: 44px;
      text-align: center;
      font-family: DotumChe, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", courier, serif;
      line-height: 1em;
      font-size: 39px; }
    ul.discarded li.suit:after {
      position: absolute;
      top: 4px;
      left: 0;
      width: 44px;
      text-align: center;
      font-family: "Uralita";
      font-weight: 400;
      line-height: 1em;
      font-size: 39px; }
    ul.discarded li span {
      position: absolute;
      bottom: 0;
      right: 6.6px; }
      ul.discarded li span:before {
        font-size: 30.8px;
        line-height: 1em;
        color: white !important;
        font-family: serif; }
    ul.discarded li.spade span:before, ul.discarded li.spade:before {
      content: "\2660";
      color: black; }
    ul.discarded li.spade:after {
      color: black; }
    ul.discarded li.club span:before, ul.discarded li.club:before {
      content: "\2663";
      color: black; }
    ul.discarded li.club:after {
      color: black; }
    ul.discarded li.heart span:before, ul.discarded li.heart:before {
      content: "\2665";
      color: #b21f24; }
    ul.discarded li.heart:after {
      color: #b21f24; }
    ul.discarded li.diamond span:before, ul.discarded li.diamond:before {
      content: "\2666";
      color: #b21f24; }
    ul.discarded li.diamond:after {
      color: #b21f24; }
    ul.discarded li.joker:before {
      top: 6.6px;
      font-size: 51.33333px;
      width: 100%;
      text-align: center;
      color: black; }
    ul.discarded li.joker:after {
      bottom: 4px;
      right: 6px;
      font-size: 22px;
      line-height: 1.2em; }
    ul.discarded li.joker:before, ul.discarded li.joker:after {
      position: absolute;
      font-family: "aaronfaces" !important; }
    ul.discarded li.joker-1:after, ul.discarded li.joker-3:after {
      color: white; }
    ul.discarded li.joker-2:after, ul.discarded li.joker-4:after {
      color: #cccccc; }
    ul.discarded li.joker-2, ul.discarded li.joker-4 {
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(0, #cccccc));
      background-image: -webkit-linear-gradient(-220deg, white, white 35%, #cccccc 0);
      background-image: linear-gradient(-50deg,white, white 35%, #cccccc 0); }
    ul.discarded li.joker-1:before {
      content: "p"; }
    ul.discarded li.joker-1:after {
      content: "p"; }
    ul.discarded li.joker-2:before {
      content: "v"; }
    ul.discarded li.joker-2:after {
      content: "v"; }
    ul.discarded li.joker-3:before {
      content: "d"; }
    ul.discarded li.joker-3:after {
      content: "d"; }
    ul.discarded li.joker-4:before {
      content: "w"; }
    ul.discarded li.joker-4:after {
      content: "w"; }
    ul.discarded li[data-card="ad"]:after, ul.discarded li[data-card="ah"]:after, ul.discarded li[data-card="ac"]:after, ul.discarded li[data-card="as"]:after {
      content: "A"; }
    ul.discarded li[data-card="2d"]:after, ul.discarded li[data-card="2h"]:after, ul.discarded li[data-card="2c"]:after, ul.discarded li[data-card="2s"]:after {
      content: "2"; }
    ul.discarded li[data-card="3d"]:after, ul.discarded li[data-card="3h"]:after, ul.discarded li[data-card="3c"]:after, ul.discarded li[data-card="3s"]:after {
      content: "3"; }
    ul.discarded li[data-card="4d"]:after, ul.discarded li[data-card="4h"]:after, ul.discarded li[data-card="4c"]:after, ul.discarded li[data-card="4s"]:after {
      content: "4"; }
    ul.discarded li[data-card="5d"]:after, ul.discarded li[data-card="5h"]:after, ul.discarded li[data-card="5c"]:after, ul.discarded li[data-card="5s"]:after {
      content: "5"; }
    ul.discarded li[data-card="6d"]:after, ul.discarded li[data-card="6h"]:after, ul.discarded li[data-card="6c"]:after, ul.discarded li[data-card="6s"]:after {
      content: "6"; }
    ul.discarded li[data-card="7d"]:after, ul.discarded li[data-card="7h"]:after, ul.discarded li[data-card="7c"]:after, ul.discarded li[data-card="7s"]:after {
      content: "7"; }
    ul.discarded li[data-card="8d"]:after, ul.discarded li[data-card="8h"]:after, ul.discarded li[data-card="8c"]:after, ul.discarded li[data-card="8s"]:after {
      content: "8"; }
    ul.discarded li[data-card="9d"]:after, ul.discarded li[data-card="9h"]:after, ul.discarded li[data-card="9c"]:after, ul.discarded li[data-card="9s"]:after {
      content: "9"; }
    ul.discarded li[data-card="td"]:after, ul.discarded li[data-card="th"]:after, ul.discarded li[data-card="tc"]:after, ul.discarded li[data-card="ts"]:after {
      content: "10"; }
    ul.discarded li[data-card="jd"]:after, ul.discarded li[data-card="jh"]:after, ul.discarded li[data-card="jc"]:after, ul.discarded li[data-card="js"]:after {
      content: "J"; }
    ul.discarded li[data-card="qd"]:after, ul.discarded li[data-card="qh"]:after, ul.discarded li[data-card="qc"]:after, ul.discarded li[data-card="qs"]:after {
      content: "Q"; }
    ul.discarded li[data-card="kd"]:after, ul.discarded li[data-card="kh"]:after, ul.discarded li[data-card="kc"]:after, ul.discarded li[data-card="ks"]:after {
      content: "K"; }

  .board .p1 {
    background-color: #ca8585;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca8585), color-stop(50%, #ca8585), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #ca8585, #ca8585 50%, white 0);
    background-image: linear-gradient(-225deg,#ca8585, #ca8585 50%, white 0);
    box-shadow: 0 0 0 1px #442525, 0 0 0 4px #a65c5c, 0 0 0 5px #442525; }
    .board .p1:before {
      color: black !important; }

  .players .p1:before {
    background-color: #ca8585;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca8585), color-stop(50%, #ca8585), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #ca8585, #ca8585 50%, white 0);
    background-image: linear-gradient(-225deg,#ca8585, #ca8585 50%, white 0);
    box-shadow: 0 0 0 1px #442525, 0 0 0 4px #a65c5c, 0 0 0 5px #442525; }

  .board .p2 {
    background-color: #a8ca85;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8ca85), color-stop(50%, #a8ca85), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #a8ca85, #a8ca85 50%, white 0);
    background-image: linear-gradient(-225deg,#a8ca85, #a8ca85 50%, white 0);
    box-shadow: 0 0 0 1px #354425, 0 0 0 4px #81a65c, 0 0 0 5px #354425; }
    .board .p2:before {
      color: black !important; }

  .players .p2:before {
    background-color: #a8ca85;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8ca85), color-stop(50%, #a8ca85), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #a8ca85, #a8ca85 50%, white 0);
    background-image: linear-gradient(-225deg,#a8ca85, #a8ca85 50%, white 0);
    box-shadow: 0 0 0 1px #354425, 0 0 0 4px #81a65c, 0 0 0 5px #354425; }

  .board .p3 {
    background-color: #85caca;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85caca), color-stop(50%, #85caca), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #85caca, #85caca 50%, white 0);
    background-image: linear-gradient(-225deg,#85caca, #85caca 50%, white 0);
    box-shadow: 0 0 0 1px #254444, 0 0 0 4px #5ca6a6, 0 0 0 5px #254444; }
    .board .p3:before {
      color: black !important; }

  .players .p3:before {
    background-color: #85caca;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85caca), color-stop(50%, #85caca), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #85caca, #85caca 50%, white 0);
    background-image: linear-gradient(-225deg,#85caca, #85caca 50%, white 0);
    box-shadow: 0 0 0 1px #254444, 0 0 0 4px #5ca6a6, 0 0 0 5px #254444; }

  .board .p4 {
    background-color: #a785ca;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a785ca), color-stop(50%, #a785ca), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #a785ca, #a785ca 50%, white 0);
    background-image: linear-gradient(-225deg,#a785ca, #a785ca 50%, white 0);
    box-shadow: 0 0 0 1px #352544, 0 0 0 4px #815ca6, 0 0 0 5px #352544; }
    .board .p4:before {
      color: black !important; }

  .players .p4:before {
    background-color: #a785ca;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a785ca), color-stop(50%, #a785ca), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #a785ca, #a785ca 50%, white 0);
    background-image: linear-gradient(-225deg,#a785ca, #a785ca 50%, white 0);
    box-shadow: 0 0 0 1px #352544, 0 0 0 4px #815ca6, 0 0 0 5px #352544; }

  .hand li, .discarded li {
    margin-right: -22px !important; } }
@media all and (min-height: 776px) {
  .game header {
    height: 45px;
    line-height: 45px;
    box-shadow: 0 0 3px 1px black; }
    .game header h1 {
      padding-left: 20px;
      font-family: Uralita;
      font-weight: bold;
      font-size: 35px; }
    .game header nav {
      position: absolute;
      top: 0;
      right: 20px; }
      .game header nav li {
        display: inline-block; }
  .game .board {
    margin-top: 20px;
    margin-left: 20px;
    float: left; }
  .game .cards {
    position: relative;
    margin-top: 20px;
    margin-left: 17px;
    float: left;
    width: 500px;
    height: 700px;
    font-size: 0; }
    .game .cards .hand, .game .cards .discarded {
      position: absolute; }
    .game .cards .hand {
      bottom: 3px; }
    .game .cards .discarded {
      top: 0; }
  .game .players {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    width: 270.05131px;
    height: 700px; }
    .game .players h1 {
      font-family: Uralita;
      font-size: 30px;
      display: none; }
    .game .players li {
      line-height: 1em;
      margin-bottom: 1em;
      font-family: "Open Sans";
      font-size: 24px;
      position: relative;
      color: white;
      text-shadow: 0 0 2px black; }
      .game .players li:before {
        content: "\00a0";
        display: inline-block;
        margin: 5px 10px 5px 5px;
        width: 1em;
        height: 1em;
        margin: 5px 15px 5px 5px;
        background-color: white; }
  .game .avatars li {
    line-height: 24px;
    margin-top: 1em;
    font-family: "Open Sans";
    font-size: 24px; }
    .game .avatars li img {
      position: relative;
      vertical-align: middle;
      max-height: 60px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px black, 0 0 0 5px white, 0 0 0 6px black;
      margin: 6px 21px 6px 6px; }
    .game .avatars li.active img {
      box-shadow: 0 0 0 1px black, 0 0 0 7px #48dd3c, 0 0 0 8px black, 0 0 4px 9px rgba(0, 0, 0, 0.4); }

  .board {
    font-size: 0;
    width: 700px; }
    .board li {
      position: relative;
      display: inline-block;
      width: 53px;
      height: 53px;
      margin: 6px 11px 11px 6px;
      box-shadow: 0 0 0 1px #aaaaaa, 0 0 0 5px #dfdfdf, 0 0 0 6px #aaaaaa;
      background-color: white;
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, white), color-stop(0, #f2f2f2));
      background-image: -webkit-linear-gradient(-45deg, white, white 50%, #f2f2f2 0);
      background-image: linear-gradient(-225deg,white, white 50%, #f2f2f2 0); }
      .board li:nth-child(10n) {
        margin-right: 0; }
      .board li:after {
        position: absolute;
        bottom: 4px;
        right: 2px;
        font-size: 26.5px;
        vertical-align: bottom;
        padding: 0;
        line-height: .75em;
        font-family: serif; }
      .board li:before {
        position: absolute;
        top: 2px;
        left: 6px;
        width: 25%;
        height: 25%;
        font-size: 25.2381px;
        font-family: "Uralita";
        font-weight: 200; }
      .board li.spade:after {
        content: "\2660"; }
      .board li.club:after {
        content: "\2663"; }
      .board li.heart:after {
        content: "\2665";
        color: #b30000; }
      .board li.diamond:after {
        content: "\2666";
        color: #b30000; }
      .board li.heart:before, .board li.diamond:before {
        color: #b30000; }
      .board li.joker:before {
        font-size: 39.75px;
        top: 0;
        left: 0;
        text-align: center;
        height: 53px;
        width: 53px;
        line-height: 53px; }
      .board li.joker:before, .board li.joker:after {
        position: absolute;
        font-family: "aaronfaces" !important; }
      .board li.joker-1:before {
        content: "p"; }
      .board li.joker-2:before {
        content: "v"; }
      .board li.joker-3:before {
        content: "d"; }
      .board li.joker-4:before {
        content: "w"; }
      .board li[data-card="ad"]:before, .board li[data-card="ah"]:before, .board li[data-card="ac"]:before, .board li[data-card="as"]:before {
        content: "A"; }
      .board li[data-card="2d"]:before, .board li[data-card="2h"]:before, .board li[data-card="2c"]:before, .board li[data-card="2s"]:before {
        content: "2"; }
      .board li[data-card="3d"]:before, .board li[data-card="3h"]:before, .board li[data-card="3c"]:before, .board li[data-card="3s"]:before {
        content: "3"; }
      .board li[data-card="4d"]:before, .board li[data-card="4h"]:before, .board li[data-card="4c"]:before, .board li[data-card="4s"]:before {
        content: "4"; }
      .board li[data-card="5d"]:before, .board li[data-card="5h"]:before, .board li[data-card="5c"]:before, .board li[data-card="5s"]:before {
        content: "5"; }
      .board li[data-card="6d"]:before, .board li[data-card="6h"]:before, .board li[data-card="6c"]:before, .board li[data-card="6s"]:before {
        content: "6"; }
      .board li[data-card="7d"]:before, .board li[data-card="7h"]:before, .board li[data-card="7c"]:before, .board li[data-card="7s"]:before {
        content: "7"; }
      .board li[data-card="8d"]:before, .board li[data-card="8h"]:before, .board li[data-card="8c"]:before, .board li[data-card="8s"]:before {
        content: "8"; }
      .board li[data-card="9d"]:before, .board li[data-card="9h"]:before, .board li[data-card="9c"]:before, .board li[data-card="9s"]:before {
        content: "9"; }
      .board li[data-card="td"]:before, .board li[data-card="th"]:before, .board li[data-card="tc"]:before, .board li[data-card="ts"]:before {
        content: "10"; }
      .board li[data-card="qd"]:before, .board li[data-card="qh"]:before, .board li[data-card="qc"]:before, .board li[data-card="qs"]:before {
        content: "Q"; }
      .board li[data-card="kd"]:before, .board li[data-card="kh"]:before, .board li[data-card="kc"]:before, .board li[data-card="ks"]:before {
        content: "K"; }

  ul.hand li {
    line-height: 1em;
    position: relative;
    border-radius: 0;
    display: inline-block;
    width: 90px;
    height: 150px;
    background-color: #ca8585;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca8585), color-stop(35%, #ca8585), color-stop(0, white));
    background-image: -webkit-linear-gradient(-220deg, #ca8585, #ca8585 35%, white 0);
    background-image: linear-gradient(-50deg,#ca8585, #ca8585 35%, white 0);
    box-shadow: 0 0 0 1px #864949, 0 0 0 7px #a65c5c, 0 0 0 8px #231313, 0 0 3px 9px rgba(0, 0, 0, 0.4);
    margin: 8px 8px 8px 8px;
    text-align: center; }
    ul.hand li.suit:before, ul.hand li.joker:before {
      content: "\00a0";
      position: absolute;
      top: 60px;
      left: 0;
      width: 60px;
      text-align: center;
      font-family: DotumChe, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", courier, serif;
      line-height: 1em;
      font-size: 55px; }
    ul.hand li.suit:after {
      position: absolute;
      top: 4px;
      left: 0;
      width: 60px;
      text-align: center;
      font-family: "Uralita";
      font-weight: 400;
      line-height: 1em;
      font-size: 55px; }
    ul.hand li span {
      position: absolute;
      bottom: 0;
      right: 9px; }
      ul.hand li span:before {
        font-size: 42px;
        line-height: 1em;
        color: white !important;
        font-family: serif; }
    ul.hand li.spade span:before, ul.hand li.spade:before {
      content: "\2660";
      color: black; }
    ul.hand li.spade:after {
      color: black; }
    ul.hand li.club span:before, ul.hand li.club:before {
      content: "\2663";
      color: black; }
    ul.hand li.club:after {
      color: black; }
    ul.hand li.heart span:before, ul.hand li.heart:before {
      content: "\2665";
      color: #b21f24; }
    ul.hand li.heart:after {
      color: #b21f24; }
    ul.hand li.diamond span:before, ul.hand li.diamond:before {
      content: "\2666";
      color: #b21f24; }
    ul.hand li.diamond:after {
      color: #b21f24; }
    ul.hand li.joker:before {
      top: 9px;
      font-size: 70px;
      width: 100%;
      text-align: center;
      color: black; }
    ul.hand li.joker:after {
      bottom: 4px;
      right: 6px;
      font-size: 30px;
      line-height: 1.2em; }
    ul.hand li.joker:before, ul.hand li.joker:after {
      position: absolute;
      font-family: "aaronfaces" !important; }
    ul.hand li.joker-1:after, ul.hand li.joker-3:after {
      color: white; }
    ul.hand li.joker-2:after, ul.hand li.joker-4:after {
      color: #ca8585; }
    ul.hand li.joker-2, ul.hand li.joker-4 {
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(0, #ca8585));
      background-image: -webkit-linear-gradient(-220deg, white, white 35%, #ca8585 0);
      background-image: linear-gradient(-50deg,white, white 35%, #ca8585 0); }
    ul.hand li.joker-1:before {
      content: "p"; }
    ul.hand li.joker-1:after {
      content: "p"; }
    ul.hand li.joker-2:before {
      content: "v"; }
    ul.hand li.joker-2:after {
      content: "v"; }
    ul.hand li.joker-3:before {
      content: "d"; }
    ul.hand li.joker-3:after {
      content: "d"; }
    ul.hand li.joker-4:before {
      content: "w"; }
    ul.hand li.joker-4:after {
      content: "w"; }
    ul.hand li[data-card="ad"]:after, ul.hand li[data-card="ah"]:after, ul.hand li[data-card="ac"]:after, ul.hand li[data-card="as"]:after {
      content: "A"; }
    ul.hand li[data-card="2d"]:after, ul.hand li[data-card="2h"]:after, ul.hand li[data-card="2c"]:after, ul.hand li[data-card="2s"]:after {
      content: "2"; }
    ul.hand li[data-card="3d"]:after, ul.hand li[data-card="3h"]:after, ul.hand li[data-card="3c"]:after, ul.hand li[data-card="3s"]:after {
      content: "3"; }
    ul.hand li[data-card="4d"]:after, ul.hand li[data-card="4h"]:after, ul.hand li[data-card="4c"]:after, ul.hand li[data-card="4s"]:after {
      content: "4"; }
    ul.hand li[data-card="5d"]:after, ul.hand li[data-card="5h"]:after, ul.hand li[data-card="5c"]:after, ul.hand li[data-card="5s"]:after {
      content: "5"; }
    ul.hand li[data-card="6d"]:after, ul.hand li[data-card="6h"]:after, ul.hand li[data-card="6c"]:after, ul.hand li[data-card="6s"]:after {
      content: "6"; }
    ul.hand li[data-card="7d"]:after, ul.hand li[data-card="7h"]:after, ul.hand li[data-card="7c"]:after, ul.hand li[data-card="7s"]:after {
      content: "7"; }
    ul.hand li[data-card="8d"]:after, ul.hand li[data-card="8h"]:after, ul.hand li[data-card="8c"]:after, ul.hand li[data-card="8s"]:after {
      content: "8"; }
    ul.hand li[data-card="9d"]:after, ul.hand li[data-card="9h"]:after, ul.hand li[data-card="9c"]:after, ul.hand li[data-card="9s"]:after {
      content: "9"; }
    ul.hand li[data-card="td"]:after, ul.hand li[data-card="th"]:after, ul.hand li[data-card="tc"]:after, ul.hand li[data-card="ts"]:after {
      content: "10"; }
    ul.hand li[data-card="jd"]:after, ul.hand li[data-card="jh"]:after, ul.hand li[data-card="jc"]:after, ul.hand li[data-card="js"]:after {
      content: "J"; }
    ul.hand li[data-card="qd"]:after, ul.hand li[data-card="qh"]:after, ul.hand li[data-card="qc"]:after, ul.hand li[data-card="qs"]:after {
      content: "Q"; }
    ul.hand li[data-card="kd"]:after, ul.hand li[data-card="kh"]:after, ul.hand li[data-card="kc"]:after, ul.hand li[data-card="ks"]:after {
      content: "K"; }

  ul.discarded li {
    line-height: 1em;
    position: relative;
    border-radius: 0;
    display: inline-block;
    width: 90px;
    height: 150px;
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(35%, #cccccc), color-stop(0, white));
    background-image: -webkit-linear-gradient(-220deg, #cccccc, #cccccc 35%, white 0);
    background-image: linear-gradient(-50deg,#cccccc, #cccccc 35%, white 0);
    box-shadow: 0 0 0 1px #8c8c8c, 0 0 0 7px #a6a6a6, 0 0 0 8px #404040, 0 0 3px 9px rgba(0, 0, 0, 0.4);
    margin: 8px 8px 8px 8px;
    text-align: center; }
    ul.discarded li.suit:before, ul.discarded li.joker:before {
      content: "\00a0";
      position: absolute;
      top: 60px;
      left: 0;
      width: 60px;
      text-align: center;
      font-family: DotumChe, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", courier, serif;
      line-height: 1em;
      font-size: 55px; }
    ul.discarded li.suit:after {
      position: absolute;
      top: 4px;
      left: 0;
      width: 60px;
      text-align: center;
      font-family: "Uralita";
      font-weight: 400;
      line-height: 1em;
      font-size: 55px; }
    ul.discarded li span {
      position: absolute;
      bottom: 0;
      right: 9px; }
      ul.discarded li span:before {
        font-size: 42px;
        line-height: 1em;
        color: white !important;
        font-family: serif; }
    ul.discarded li.spade span:before, ul.discarded li.spade:before {
      content: "\2660";
      color: black; }
    ul.discarded li.spade:after {
      color: black; }
    ul.discarded li.club span:before, ul.discarded li.club:before {
      content: "\2663";
      color: black; }
    ul.discarded li.club:after {
      color: black; }
    ul.discarded li.heart span:before, ul.discarded li.heart:before {
      content: "\2665";
      color: #b21f24; }
    ul.discarded li.heart:after {
      color: #b21f24; }
    ul.discarded li.diamond span:before, ul.discarded li.diamond:before {
      content: "\2666";
      color: #b21f24; }
    ul.discarded li.diamond:after {
      color: #b21f24; }
    ul.discarded li.joker:before {
      top: 9px;
      font-size: 70px;
      width: 100%;
      text-align: center;
      color: black; }
    ul.discarded li.joker:after {
      bottom: 4px;
      right: 6px;
      font-size: 30px;
      line-height: 1.2em; }
    ul.discarded li.joker:before, ul.discarded li.joker:after {
      position: absolute;
      font-family: "aaronfaces" !important; }
    ul.discarded li.joker-1:after, ul.discarded li.joker-3:after {
      color: white; }
    ul.discarded li.joker-2:after, ul.discarded li.joker-4:after {
      color: #cccccc; }
    ul.discarded li.joker-2, ul.discarded li.joker-4 {
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(0, #cccccc));
      background-image: -webkit-linear-gradient(-220deg, white, white 35%, #cccccc 0);
      background-image: linear-gradient(-50deg,white, white 35%, #cccccc 0); }
    ul.discarded li.joker-1:before {
      content: "p"; }
    ul.discarded li.joker-1:after {
      content: "p"; }
    ul.discarded li.joker-2:before {
      content: "v"; }
    ul.discarded li.joker-2:after {
      content: "v"; }
    ul.discarded li.joker-3:before {
      content: "d"; }
    ul.discarded li.joker-3:after {
      content: "d"; }
    ul.discarded li.joker-4:before {
      content: "w"; }
    ul.discarded li.joker-4:after {
      content: "w"; }
    ul.discarded li[data-card="ad"]:after, ul.discarded li[data-card="ah"]:after, ul.discarded li[data-card="ac"]:after, ul.discarded li[data-card="as"]:after {
      content: "A"; }
    ul.discarded li[data-card="2d"]:after, ul.discarded li[data-card="2h"]:after, ul.discarded li[data-card="2c"]:after, ul.discarded li[data-card="2s"]:after {
      content: "2"; }
    ul.discarded li[data-card="3d"]:after, ul.discarded li[data-card="3h"]:after, ul.discarded li[data-card="3c"]:after, ul.discarded li[data-card="3s"]:after {
      content: "3"; }
    ul.discarded li[data-card="4d"]:after, ul.discarded li[data-card="4h"]:after, ul.discarded li[data-card="4c"]:after, ul.discarded li[data-card="4s"]:after {
      content: "4"; }
    ul.discarded li[data-card="5d"]:after, ul.discarded li[data-card="5h"]:after, ul.discarded li[data-card="5c"]:after, ul.discarded li[data-card="5s"]:after {
      content: "5"; }
    ul.discarded li[data-card="6d"]:after, ul.discarded li[data-card="6h"]:after, ul.discarded li[data-card="6c"]:after, ul.discarded li[data-card="6s"]:after {
      content: "6"; }
    ul.discarded li[data-card="7d"]:after, ul.discarded li[data-card="7h"]:after, ul.discarded li[data-card="7c"]:after, ul.discarded li[data-card="7s"]:after {
      content: "7"; }
    ul.discarded li[data-card="8d"]:after, ul.discarded li[data-card="8h"]:after, ul.discarded li[data-card="8c"]:after, ul.discarded li[data-card="8s"]:after {
      content: "8"; }
    ul.discarded li[data-card="9d"]:after, ul.discarded li[data-card="9h"]:after, ul.discarded li[data-card="9c"]:after, ul.discarded li[data-card="9s"]:after {
      content: "9"; }
    ul.discarded li[data-card="td"]:after, ul.discarded li[data-card="th"]:after, ul.discarded li[data-card="tc"]:after, ul.discarded li[data-card="ts"]:after {
      content: "10"; }
    ul.discarded li[data-card="jd"]:after, ul.discarded li[data-card="jh"]:after, ul.discarded li[data-card="jc"]:after, ul.discarded li[data-card="js"]:after {
      content: "J"; }
    ul.discarded li[data-card="qd"]:after, ul.discarded li[data-card="qh"]:after, ul.discarded li[data-card="qc"]:after, ul.discarded li[data-card="qs"]:after {
      content: "Q"; }
    ul.discarded li[data-card="kd"]:after, ul.discarded li[data-card="kh"]:after, ul.discarded li[data-card="kc"]:after, ul.discarded li[data-card="ks"]:after {
      content: "K"; }

  .board .p1 {
    background-color: #ca8585;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca8585), color-stop(50%, #ca8585), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #ca8585, #ca8585 50%, white 0);
    background-image: linear-gradient(-225deg,#ca8585, #ca8585 50%, white 0);
    box-shadow: 0 0 0 1px #442525, 0 0 0 4px #a65c5c, 0 0 0 5px #442525; }
    .board .p1:before {
      color: black !important; }

  .players .p1:before {
    background-color: #ca8585;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca8585), color-stop(50%, #ca8585), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #ca8585, #ca8585 50%, white 0);
    background-image: linear-gradient(-225deg,#ca8585, #ca8585 50%, white 0);
    box-shadow: 0 0 0 1px #442525, 0 0 0 4px #a65c5c, 0 0 0 5px #442525; }

  .board .p2 {
    background-color: #a8ca85;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8ca85), color-stop(50%, #a8ca85), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #a8ca85, #a8ca85 50%, white 0);
    background-image: linear-gradient(-225deg,#a8ca85, #a8ca85 50%, white 0);
    box-shadow: 0 0 0 1px #354425, 0 0 0 5px #81a65c, 0 0 0 6px #354425; }
    .board .p2:before {
      color: black !important; }

  .players .p2:before {
    background-color: #a8ca85;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8ca85), color-stop(50%, #a8ca85), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #a8ca85, #a8ca85 50%, white 0);
    background-image: linear-gradient(-225deg,#a8ca85, #a8ca85 50%, white 0);
    box-shadow: 0 0 0 1px #354425, 0 0 0 4px #81a65c, 0 0 0 5px #354425; }

  .board .p3 {
    background-color: #85caca;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85caca), color-stop(50%, #85caca), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #85caca, #85caca 50%, white 0);
    background-image: linear-gradient(-225deg,#85caca, #85caca 50%, white 0);
    box-shadow: 0 0 0 1px #254444, 0 0 0 5px #5ca6a6, 0 0 0 6px #254444; }
    .board .p3:before {
      color: black !important; }

  .players .p3:before {
    background-color: #85caca;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85caca), color-stop(50%, #85caca), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #85caca, #85caca 50%, white 0);
    background-image: linear-gradient(-225deg,#85caca, #85caca 50%, white 0);
    box-shadow: 0 0 0 1px #254444, 0 0 0 4px #5ca6a6, 0 0 0 5px #254444; }

  .board .p4 {
    background-color: #a785ca;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a785ca), color-stop(50%, #a785ca), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #a785ca, #a785ca 50%, white 0);
    background-image: linear-gradient(-225deg,#a785ca, #a785ca 50%, white 0);
    box-shadow: 0 0 0 1px #352544, 0 0 0 5px #815ca6, 0 0 0 6px #352544; }
    .board .p4:before {
      color: black !important; }

  .players .p4:before {
    background-color: #a785ca;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a785ca), color-stop(50%, #a785ca), color-stop(0, white));
    background-image: -webkit-linear-gradient(-45deg, #a785ca, #a785ca 50%, white 0);
    background-image: linear-gradient(-225deg,#a785ca, #a785ca 50%, white 0);
    box-shadow: 0 0 0 1px #352544, 0 0 0 4px #815ca6, 0 0 0 5px #352544; }

  .hand li, .discarded li {
    margin-right: -30px !important; } }
body > section {
  display: none; }
body.home #home {
  display: block; }
body.wizard #wizard {
  display: block; }
body.game #game {
  display: block; }
body.tutorial #tutorial {
  display: block; }
body.gameover #dialog {
  display: block; }
body.gameover #game li:not(.sequence), body.gameover #game .cards {
  opacity: .2; }

#home {
  position: fixed;
  width: 800px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -400px;
  border-radius: 20px;
  text-align: center; }
  #home button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Uralita;
    font-weight: 300;
    text-shadow: 0 0 3px black;
    font-size: 24px;
    padding: 8px 16px 8px 16px;
    box-shadow: 0 0 0 1px black, 0 0 0 6px white, 0 0 0 7px black, 0 0 3px 8px rgba(0, 0, 0, 0.35);
    border: none;
    background-color: #d1343f;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1343f), color-stop(50%, #d1343f), color-stop(50%, #b21f24));
    background-image: -webkit-linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
    background-image: linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
    color: white;
    margin: 8px 8px 8px 18px;
    min-width: 150px;
    text-align: center; }
    #home button:before {
      padding-right: 8px; }
  #home .play-online:before {
    font-family: courier;
    content: "\2666"; }
  #home .new-game:before {
    font-family: courier;
    content: "\2660"; }
  #home .rules:before {
    font-family: courier;
    content: "\2663"; }

#dialog {
  position: fixed;
  width: 800px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -400px;
  border-radius: 20px;
  text-align: center;
  display: none;
  z-index: 99999; }
  #dialog .message {
    font-family: "Uralita";
    font-weight: bold;
    font-size: 48px;
    color: white;
    text-shadow: 0 0 3px black; }
  #dialog button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Uralita;
    font-weight: 300;
    text-shadow: 0 0 3px black;
    font-size: 24px;
    padding: 8px 16px 8px 16px;
    box-shadow: 0 0 0 1px black, 0 0 0 6px white, 0 0 0 7px black, 0 0 3px 8px rgba(0, 0, 0, 0.35);
    border: none;
    background-color: #d1343f;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1343f), color-stop(50%, #d1343f), color-stop(50%, #b21f24));
    background-image: -webkit-linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
    background-image: linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
    color: white;
    margin: 8px 8px 8px 18px;
    min-width: 150px;
    text-align: center; }

#message {
  position: fixed;
  left: 50%;
  width: 300px;
  margin: 20px 0 0 -150px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 0 1px white, 0 0 6px 1px black;
  background-color: white;
  padding: 12px 15px 12px 15px;
  font-size: 16px; }

#tutorial {
  margin: 15px auto;
  width: 700px;
  display: none; }
  #tutorial .buttons {
    margin-top: 15px;
    text-align: center; }
  #tutorial p {
    font: 14px/2em "Open Sans"; }
  #tutorial button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Uralita;
    font-weight: 300;
    text-shadow: 0 0 3px black;
    font-size: 24px;
    padding: 8px 16px 8px 16px;
    box-shadow: 0 0 0 1px black, 0 0 0 6px white, 0 0 0 7px black, 0 0 3px 8px rgba(0, 0, 0, 0.35);
    border: none;
    background-color: #d1343f;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1343f), color-stop(50%, #d1343f), color-stop(50%, #b21f24));
    background-image: -webkit-linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
    background-image: linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
    color: white;
    margin: 8px 8px 8px 18px;
    min-width: 150px;
    text-align: center;
    width: 100px; }

#game {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../images/crossed_stripes.png"); }
  #game header {
    position: relative;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 0 1px black, 0 0 0 6px white, 0 0 0 7px black, 0 0 3px 8px rgba(0, 0, 0, 0.35);
    background-color: #d1343f;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1343f), color-stop(50%, #d1343f), color-stop(50%, #b21f24));
    background-image: -webkit-linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
    background-image: linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
    margin-bottom: 7px;
    z-index: 9999; }
    #game header h1 {
      font-family: "Uralita";
      font-size: 40px;
      font-weight: bold;
      text-shadow: 0 0 5px black;
      color: white;
      padding-left: 13px; }
    #game header nav {
      position: absolute;
      right: 0;
      top: 0; }
      #game header nav li {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: Uralita;
        font-weight: 300;
        text-shadow: 0 0 3px black;
        font-size: 24px;
        padding: 8px 16px 8px 16px;
        box-shadow: 0 0 0 1px black, 0 0 0 6px white, 0 0 0 7px black, 0 0 3px 8px rgba(0, 0, 0, 0.35);
        border: none;
        background-color: #d1343f;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1343f), color-stop(50%, #d1343f), color-stop(50%, #b21f24));
        background-image: -webkit-linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
        background-image: linear-gradient(#d1343f, #d1343f 50%, #b21f24 50%);
        color: white;
        margin: 8px 8px 8px 18px;
        min-width: 150px;
        text-align: center;
        line-height: 12px;
        font-size: 18px;
        margin-top: 8px !important;
        display: inline-block; }
  #game .cards .hand li {
    -webkit-transition: margin 0.1s ease-in;
    -moz-transition: margin 0.1s ease-in;
    transition: margin 0.1s ease-in; }
    #game .cards .hand li.active {
      margin-top: -50px;
      margin-bottom: 50px; }
    #game .cards .hand li.dragged {
      opacity: .5; }
    #game .cards .hand li.ui-draggable-dragging {
      z-index: 10000; }

footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  font-family: "Open Sans", sans-serf !important;
  text-align: center; }
