@charset "UTF-8";
@import url("../fonts/opensans/opensans.css");
@import url("../fonts/uralita/uralita.css");
@import url("../fonts/aaron/aaron.css");
@import url("../fonts/fontawesome/fontawesome.css");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, nav {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

@font-face {
  font-family: 'entypo';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/entypo/entypo.eot");
  src: url("../fonts/entypo/entypo.eot?#iefix") format("eot"), url("../fonts/entypo/entypo.woff") format("woff"), url("../fonts/entypo/entypo.ttf") format("truetype"), url("../fonts/entypo/entypo.svg#entypo") format("svg"); }

.p1.proxy {
  margin: -75px 45px 75px -45px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: .7;
  pointer-events: none; }

ul.p1 li {
  margin: 8px 8px 8px 8px; }

ul.p1 li,
.p1.proxy {
  line-height: 1em;
  position: relative;
  border-radius: 0;
  display: inline-block;
  width: 90px;
  height: 150px;
  background-color: #ca8585;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca8585), color-stop(35%, #ca8585), color-stop(0, white));
  background-image: -webkit-linear-gradient(-220deg, #ca8585, #ca8585 35%, white 0);
  background-image: linear-gradient(-50deg,#ca8585, #ca8585 35%, white 0);
  box-shadow: 0 0 0 1px #864949, 0 0 0 7px #a65c5c, 0 0 0 8px #231313, 0 0 3px 9px rgba(0, 0, 0, 0.4);
  text-align: center; }
  ul.p1 li.suit:before, ul.p1 li.joker:before,
  .p1.proxy.suit:before,
  .p1.proxy.joker:before {
    content: "\00a0";
    position: absolute;
    top: 60px;
    left: 0;
    width: 60px;
    text-align: center;
    font-family: DotumChe, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", courier, serif;
    line-height: 1em;
    font-size: 55px; }
  ul.p1 li.suit:after,
  .p1.proxy.suit:after {
    position: absolute;
    top: 4px;
    left: 0;
    width: 60px;
    text-align: center;
    font-family: "Uralita";
    font-weight: 400;
    line-height: 1em;
    font-size: 55px; }
  ul.p1 li span,
  .p1.proxy span {
    position: absolute;
    bottom: 0;
    right: 9px; }
    ul.p1 li span:before,
    .p1.proxy span:before {
      font-size: 42px;
      line-height: 1em;
      color: white !important;
      font-family: serif; }
  ul.p1 li.spade span:before, ul.p1 li.spade:before,
  .p1.proxy.spade span:before,
  .p1.proxy.spade:before {
    content: "\2660";
    color: black; }
  ul.p1 li.spade:after,
  .p1.proxy.spade:after {
    color: black; }
  ul.p1 li.club span:before, ul.p1 li.club:before,
  .p1.proxy.club span:before,
  .p1.proxy.club:before {
    content: "\2663";
    color: black; }
  ul.p1 li.club:after,
  .p1.proxy.club:after {
    color: black; }
  ul.p1 li.heart span:before, ul.p1 li.heart:before,
  .p1.proxy.heart span:before,
  .p1.proxy.heart:before {
    content: "\2665";
    color: #b21f24; }
  ul.p1 li.heart:after,
  .p1.proxy.heart:after {
    color: #b21f24; }
  ul.p1 li.diamond span:before, ul.p1 li.diamond:before,
  .p1.proxy.diamond span:before,
  .p1.proxy.diamond:before {
    content: "\2666";
    color: #b21f24; }
  ul.p1 li.diamond:after,
  .p1.proxy.diamond:after {
    color: #b21f24; }
  ul.p1 li.joker:before,
  .p1.proxy.joker:before {
    top: 9px;
    font-size: 70px;
    width: 100%;
    text-align: center;
    color: black; }
  ul.p1 li.joker:after,
  .p1.proxy.joker:after {
    bottom: 4px;
    right: 6px;
    font-size: 30px;
    line-height: 1.2em; }
  ul.p1 li.joker:before, ul.p1 li.joker:after,
  .p1.proxy.joker:before,
  .p1.proxy.joker:after {
    position: absolute;
    font-family: "aaronfaces" !important; }
  ul.p1 li.joker-1:after, ul.p1 li.joker-3:after,
  .p1.proxy.joker-1:after,
  .p1.proxy.joker-3:after {
    color: white; }
  ul.p1 li.joker-2:after, ul.p1 li.joker-4:after,
  .p1.proxy.joker-2:after,
  .p1.proxy.joker-4:after {
    color: #ca8585; }
  ul.p1 li.joker-2, ul.p1 li.joker-4,
  .p1.proxy.joker-2,
  .p1.proxy.joker-4 {
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(0, #ca8585));
    background-image: -webkit-linear-gradient(-220deg, white, white 35%, #ca8585 0);
    background-image: linear-gradient(-50deg,white, white 35%, #ca8585 0); }
  ul.p1 li.joker-1:before,
  .p1.proxy.joker-1:before {
    content: "p"; }
  ul.p1 li.joker-1:after,
  .p1.proxy.joker-1:after {
    content: "p"; }
  ul.p1 li.joker-2:before,
  .p1.proxy.joker-2:before {
    content: "v"; }
  ul.p1 li.joker-2:after,
  .p1.proxy.joker-2:after {
    content: "v"; }
  ul.p1 li.joker-3:before,
  .p1.proxy.joker-3:before {
    content: "d"; }
  ul.p1 li.joker-3:after,
  .p1.proxy.joker-3:after {
    content: "d"; }
  ul.p1 li.joker-4:before,
  .p1.proxy.joker-4:before {
    content: "w"; }
  ul.p1 li.joker-4:after,
  .p1.proxy.joker-4:after {
    content: "w"; }
  ul.p1 li[data-card="ad"]:after, ul.p1 li[data-card="ah"]:after, ul.p1 li[data-card="ac"]:after, ul.p1 li[data-card="as"]:after,
  .p1.proxy[data-card="ad"]:after,
  .p1.proxy[data-card="ah"]:after,
  .p1.proxy[data-card="ac"]:after,
  .p1.proxy[data-card="as"]:after {
    content: "A"; }
  ul.p1 li[data-card="2d"]:after, ul.p1 li[data-card="2h"]:after, ul.p1 li[data-card="2c"]:after, ul.p1 li[data-card="2s"]:after,
  .p1.proxy[data-card="2d"]:after,
  .p1.proxy[data-card="2h"]:after,
  .p1.proxy[data-card="2c"]:after,
  .p1.proxy[data-card="2s"]:after {
    content: "2"; }
  ul.p1 li[data-card="3d"]:after, ul.p1 li[data-card="3h"]:after, ul.p1 li[data-card="3c"]:after, ul.p1 li[data-card="3s"]:after,
  .p1.proxy[data-card="3d"]:after,
  .p1.proxy[data-card="3h"]:after,
  .p1.proxy[data-card="3c"]:after,
  .p1.proxy[data-card="3s"]:after {
    content: "3"; }
  ul.p1 li[data-card="4d"]:after, ul.p1 li[data-card="4h"]:after, ul.p1 li[data-card="4c"]:after, ul.p1 li[data-card="4s"]:after,
  .p1.proxy[data-card="4d"]:after,
  .p1.proxy[data-card="4h"]:after,
  .p1.proxy[data-card="4c"]:after,
  .p1.proxy[data-card="4s"]:after {
    content: "4"; }
  ul.p1 li[data-card="5d"]:after, ul.p1 li[data-card="5h"]:after, ul.p1 li[data-card="5c"]:after, ul.p1 li[data-card="5s"]:after,
  .p1.proxy[data-card="5d"]:after,
  .p1.proxy[data-card="5h"]:after,
  .p1.proxy[data-card="5c"]:after,
  .p1.proxy[data-card="5s"]:after {
    content: "5"; }
  ul.p1 li[data-card="6d"]:after, ul.p1 li[data-card="6h"]:after, ul.p1 li[data-card="6c"]:after, ul.p1 li[data-card="6s"]:after,
  .p1.proxy[data-card="6d"]:after,
  .p1.proxy[data-card="6h"]:after,
  .p1.proxy[data-card="6c"]:after,
  .p1.proxy[data-card="6s"]:after {
    content: "6"; }
  ul.p1 li[data-card="7d"]:after, ul.p1 li[data-card="7h"]:after, ul.p1 li[data-card="7c"]:after, ul.p1 li[data-card="7s"]:after,
  .p1.proxy[data-card="7d"]:after,
  .p1.proxy[data-card="7h"]:after,
  .p1.proxy[data-card="7c"]:after,
  .p1.proxy[data-card="7s"]:after {
    content: "7"; }
  ul.p1 li[data-card="8d"]:after, ul.p1 li[data-card="8h"]:after, ul.p1 li[data-card="8c"]:after, ul.p1 li[data-card="8s"]:after,
  .p1.proxy[data-card="8d"]:after,
  .p1.proxy[data-card="8h"]:after,
  .p1.proxy[data-card="8c"]:after,
  .p1.proxy[data-card="8s"]:after {
    content: "8"; }
  ul.p1 li[data-card="9d"]:after, ul.p1 li[data-card="9h"]:after, ul.p1 li[data-card="9c"]:after, ul.p1 li[data-card="9s"]:after,
  .p1.proxy[data-card="9d"]:after,
  .p1.proxy[data-card="9h"]:after,
  .p1.proxy[data-card="9c"]:after,
  .p1.proxy[data-card="9s"]:after {
    content: "9"; }
  ul.p1 li[data-card="td"]:after, ul.p1 li[data-card="th"]:after, ul.p1 li[data-card="tc"]:after, ul.p1 li[data-card="ts"]:after,
  .p1.proxy[data-card="td"]:after,
  .p1.proxy[data-card="th"]:after,
  .p1.proxy[data-card="tc"]:after,
  .p1.proxy[data-card="ts"]:after {
    content: "10"; }
  ul.p1 li[data-card="jd"]:after, ul.p1 li[data-card="jh"]:after, ul.p1 li[data-card="jc"]:after, ul.p1 li[data-card="js"]:after,
  .p1.proxy[data-card="jd"]:after,
  .p1.proxy[data-card="jh"]:after,
  .p1.proxy[data-card="jc"]:after,
  .p1.proxy[data-card="js"]:after {
    content: "J"; }
  ul.p1 li[data-card="qd"]:after, ul.p1 li[data-card="qh"]:after, ul.p1 li[data-card="qc"]:after, ul.p1 li[data-card="qs"]:after,
  .p1.proxy[data-card="qd"]:after,
  .p1.proxy[data-card="qh"]:after,
  .p1.proxy[data-card="qc"]:after,
  .p1.proxy[data-card="qs"]:after {
    content: "Q"; }
  ul.p1 li[data-card="kd"]:after, ul.p1 li[data-card="kh"]:after, ul.p1 li[data-card="kc"]:after, ul.p1 li[data-card="ks"]:after,
  .p1.proxy[data-card="kd"]:after,
  .p1.proxy[data-card="kh"]:after,
  .p1.proxy[data-card="kc"]:after,
  .p1.proxy[data-card="ks"]:after {
    content: "K"; }

.p2.proxy {
  margin: -60px 36px 60px -36px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: .7;
  pointer-events: none; }

ul.p2 li {
  margin: 7px 7px 7px 7px; }

ul.p2 li,
.p2.proxy {
  line-height: 1em;
  position: relative;
  border-radius: 0;
  display: inline-block;
  width: 72px;
  height: 120px;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(35%, #cccccc), color-stop(0, white));
  background-image: -webkit-linear-gradient(-220deg, #cccccc, #cccccc 35%, white 0);
  background-image: linear-gradient(-50deg,#cccccc, #cccccc 35%, white 0);
  box-shadow: 0 0 0 1px #8c8c8c, 0 0 0 6px #a6a6a6, 0 0 0 7px #404040, 0 0 3px 8px rgba(0, 0, 0, 0.4);
  text-align: center; }
  ul.p2 li.suit:before, ul.p2 li.joker:before,
  .p2.proxy.suit:before,
  .p2.proxy.joker:before {
    content: "\00a0";
    position: absolute;
    top: 48px;
    left: 0;
    width: 48px;
    text-align: center;
    font-family: DotumChe, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", courier, serif;
    line-height: 1em;
    font-size: 43px; }
  ul.p2 li.suit:after,
  .p2.proxy.suit:after {
    position: absolute;
    top: 4px;
    left: 0;
    width: 48px;
    text-align: center;
    font-family: "Uralita";
    font-weight: 400;
    line-height: 1em;
    font-size: 43px; }
  ul.p2 li span,
  .p2.proxy span {
    position: absolute;
    bottom: 0;
    right: 7.2px; }
    ul.p2 li span:before,
    .p2.proxy span:before {
      font-size: 33.6px;
      line-height: 1em;
      color: white !important;
      font-family: serif; }
  ul.p2 li.spade span:before, ul.p2 li.spade:before,
  .p2.proxy.spade span:before,
  .p2.proxy.spade:before {
    content: "\2660";
    color: black; }
  ul.p2 li.spade:after,
  .p2.proxy.spade:after {
    color: black; }
  ul.p2 li.club span:before, ul.p2 li.club:before,
  .p2.proxy.club span:before,
  .p2.proxy.club:before {
    content: "\2663";
    color: black; }
  ul.p2 li.club:after,
  .p2.proxy.club:after {
    color: black; }
  ul.p2 li.heart span:before, ul.p2 li.heart:before,
  .p2.proxy.heart span:before,
  .p2.proxy.heart:before {
    content: "\2665";
    color: #b21f24; }
  ul.p2 li.heart:after,
  .p2.proxy.heart:after {
    color: #b21f24; }
  ul.p2 li.diamond span:before, ul.p2 li.diamond:before,
  .p2.proxy.diamond span:before,
  .p2.proxy.diamond:before {
    content: "\2666";
    color: #b21f24; }
  ul.p2 li.diamond:after,
  .p2.proxy.diamond:after {
    color: #b21f24; }
  ul.p2 li.joker:before,
  .p2.proxy.joker:before {
    top: 7.2px;
    font-size: 56px;
    width: 100%;
    text-align: center;
    color: black; }
  ul.p2 li.joker:after,
  .p2.proxy.joker:after {
    bottom: 4px;
    right: 6px;
    font-size: 24px;
    line-height: 1.2em; }
  ul.p2 li.joker:before, ul.p2 li.joker:after,
  .p2.proxy.joker:before,
  .p2.proxy.joker:after {
    position: absolute;
    font-family: "aaronfaces" !important; }
  ul.p2 li.joker-1:after, ul.p2 li.joker-3:after,
  .p2.proxy.joker-1:after,
  .p2.proxy.joker-3:after {
    color: white; }
  ul.p2 li.joker-2:after, ul.p2 li.joker-4:after,
  .p2.proxy.joker-2:after,
  .p2.proxy.joker-4:after {
    color: #cccccc; }
  ul.p2 li.joker-2, ul.p2 li.joker-4,
  .p2.proxy.joker-2,
  .p2.proxy.joker-4 {
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(0, #cccccc));
    background-image: -webkit-linear-gradient(-220deg, white, white 35%, #cccccc 0);
    background-image: linear-gradient(-50deg,white, white 35%, #cccccc 0); }
  ul.p2 li.joker-1:before,
  .p2.proxy.joker-1:before {
    content: "p"; }
  ul.p2 li.joker-1:after,
  .p2.proxy.joker-1:after {
    content: "p"; }
  ul.p2 li.joker-2:before,
  .p2.proxy.joker-2:before {
    content: "v"; }
  ul.p2 li.joker-2:after,
  .p2.proxy.joker-2:after {
    content: "v"; }
  ul.p2 li.joker-3:before,
  .p2.proxy.joker-3:before {
    content: "d"; }
  ul.p2 li.joker-3:after,
  .p2.proxy.joker-3:after {
    content: "d"; }
  ul.p2 li.joker-4:before,
  .p2.proxy.joker-4:before {
    content: "w"; }
  ul.p2 li.joker-4:after,
  .p2.proxy.joker-4:after {
    content: "w"; }
  ul.p2 li[data-card="ad"]:after, ul.p2 li[data-card="ah"]:after, ul.p2 li[data-card="ac"]:after, ul.p2 li[data-card="as"]:after,
  .p2.proxy[data-card="ad"]:after,
  .p2.proxy[data-card="ah"]:after,
  .p2.proxy[data-card="ac"]:after,
  .p2.proxy[data-card="as"]:after {
    content: "A"; }
  ul.p2 li[data-card="2d"]:after, ul.p2 li[data-card="2h"]:after, ul.p2 li[data-card="2c"]:after, ul.p2 li[data-card="2s"]:after,
  .p2.proxy[data-card="2d"]:after,
  .p2.proxy[data-card="2h"]:after,
  .p2.proxy[data-card="2c"]:after,
  .p2.proxy[data-card="2s"]:after {
    content: "2"; }
  ul.p2 li[data-card="3d"]:after, ul.p2 li[data-card="3h"]:after, ul.p2 li[data-card="3c"]:after, ul.p2 li[data-card="3s"]:after,
  .p2.proxy[data-card="3d"]:after,
  .p2.proxy[data-card="3h"]:after,
  .p2.proxy[data-card="3c"]:after,
  .p2.proxy[data-card="3s"]:after {
    content: "3"; }
  ul.p2 li[data-card="4d"]:after, ul.p2 li[data-card="4h"]:after, ul.p2 li[data-card="4c"]:after, ul.p2 li[data-card="4s"]:after,
  .p2.proxy[data-card="4d"]:after,
  .p2.proxy[data-card="4h"]:after,
  .p2.proxy[data-card="4c"]:after,
  .p2.proxy[data-card="4s"]:after {
    content: "4"; }
  ul.p2 li[data-card="5d"]:after, ul.p2 li[data-card="5h"]:after, ul.p2 li[data-card="5c"]:after, ul.p2 li[data-card="5s"]:after,
  .p2.proxy[data-card="5d"]:after,
  .p2.proxy[data-card="5h"]:after,
  .p2.proxy[data-card="5c"]:after,
  .p2.proxy[data-card="5s"]:after {
    content: "5"; }
  ul.p2 li[data-card="6d"]:after, ul.p2 li[data-card="6h"]:after, ul.p2 li[data-card="6c"]:after, ul.p2 li[data-card="6s"]:after,
  .p2.proxy[data-card="6d"]:after,
  .p2.proxy[data-card="6h"]:after,
  .p2.proxy[data-card="6c"]:after,
  .p2.proxy[data-card="6s"]:after {
    content: "6"; }
  ul.p2 li[data-card="7d"]:after, ul.p2 li[data-card="7h"]:after, ul.p2 li[data-card="7c"]:after, ul.p2 li[data-card="7s"]:after,
  .p2.proxy[data-card="7d"]:after,
  .p2.proxy[data-card="7h"]:after,
  .p2.proxy[data-card="7c"]:after,
  .p2.proxy[data-card="7s"]:after {
    content: "7"; }
  ul.p2 li[data-card="8d"]:after, ul.p2 li[data-card="8h"]:after, ul.p2 li[data-card="8c"]:after, ul.p2 li[data-card="8s"]:after,
  .p2.proxy[data-card="8d"]:after,
  .p2.proxy[data-card="8h"]:after,
  .p2.proxy[data-card="8c"]:after,
  .p2.proxy[data-card="8s"]:after {
    content: "8"; }
  ul.p2 li[data-card="9d"]:after, ul.p2 li[data-card="9h"]:after, ul.p2 li[data-card="9c"]:after, ul.p2 li[data-card="9s"]:after,
  .p2.proxy[data-card="9d"]:after,
  .p2.proxy[data-card="9h"]:after,
  .p2.proxy[data-card="9c"]:after,
  .p2.proxy[data-card="9s"]:after {
    content: "9"; }
  ul.p2 li[data-card="td"]:after, ul.p2 li[data-card="th"]:after, ul.p2 li[data-card="tc"]:after, ul.p2 li[data-card="ts"]:after,
  .p2.proxy[data-card="td"]:after,
  .p2.proxy[data-card="th"]:after,
  .p2.proxy[data-card="tc"]:after,
  .p2.proxy[data-card="ts"]:after {
    content: "10"; }
  ul.p2 li[data-card="jd"]:after, ul.p2 li[data-card="jh"]:after, ul.p2 li[data-card="jc"]:after, ul.p2 li[data-card="js"]:after,
  .p2.proxy[data-card="jd"]:after,
  .p2.proxy[data-card="jh"]:after,
  .p2.proxy[data-card="jc"]:after,
  .p2.proxy[data-card="js"]:after {
    content: "J"; }
  ul.p2 li[data-card="qd"]:after, ul.p2 li[data-card="qh"]:after, ul.p2 li[data-card="qc"]:after, ul.p2 li[data-card="qs"]:after,
  .p2.proxy[data-card="qd"]:after,
  .p2.proxy[data-card="qh"]:after,
  .p2.proxy[data-card="qc"]:after,
  .p2.proxy[data-card="qs"]:after {
    content: "Q"; }
  ul.p2 li[data-card="kd"]:after, ul.p2 li[data-card="kh"]:after, ul.p2 li[data-card="kc"]:after, ul.p2 li[data-card="ks"]:after,
  .p2.proxy[data-card="kd"]:after,
  .p2.proxy[data-card="kh"]:after,
  .p2.proxy[data-card="kc"]:after,
  .p2.proxy[data-card="ks"]:after {
    content: "K"; }

.p3.proxy {
  margin: -55px 33px 55px -33px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: .7;
  pointer-events: none; }

ul.p3 li {
  margin: 6px 6px 6px 6px; }

ul.p3 li,
.p3.proxy {
  line-height: 1em;
  position: relative;
  border-radius: 0;
  display: inline-block;
  width: 66px;
  height: 110px;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(35%, #cccccc), color-stop(0, white));
  background-image: -webkit-linear-gradient(-220deg, #cccccc, #cccccc 35%, white 0);
  background-image: linear-gradient(-50deg,#cccccc, #cccccc 35%, white 0);
  box-shadow: 0 0 0 1px #8c8c8c, 0 0 0 5px #a6a6a6, 0 0 0 6px #404040, 0 0 3px 7px rgba(0, 0, 0, 0.4);
  text-align: center; }
  ul.p3 li.suit:before, ul.p3 li.joker:before,
  .p3.proxy.suit:before,
  .p3.proxy.joker:before {
    content: "\00a0";
    position: absolute;
    top: 44px;
    left: 0;
    width: 44px;
    text-align: center;
    font-family: DotumChe, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", courier, serif;
    line-height: 1em;
    font-size: 39px; }
  ul.p3 li.suit:after,
  .p3.proxy.suit:after {
    position: absolute;
    top: 4px;
    left: 0;
    width: 44px;
    text-align: center;
    font-family: "Uralita";
    font-weight: 400;
    line-height: 1em;
    font-size: 39px; }
  ul.p3 li span,
  .p3.proxy span {
    position: absolute;
    bottom: 0;
    right: 6.6px; }
    ul.p3 li span:before,
    .p3.proxy span:before {
      font-size: 30.8px;
      line-height: 1em;
      color: white !important;
      font-family: serif; }
  ul.p3 li.spade span:before, ul.p3 li.spade:before,
  .p3.proxy.spade span:before,
  .p3.proxy.spade:before {
    content: "\2660";
    color: black; }
  ul.p3 li.spade:after,
  .p3.proxy.spade:after {
    color: black; }
  ul.p3 li.club span:before, ul.p3 li.club:before,
  .p3.proxy.club span:before,
  .p3.proxy.club:before {
    content: "\2663";
    color: black; }
  ul.p3 li.club:after,
  .p3.proxy.club:after {
    color: black; }
  ul.p3 li.heart span:before, ul.p3 li.heart:before,
  .p3.proxy.heart span:before,
  .p3.proxy.heart:before {
    content: "\2665";
    color: #b21f24; }
  ul.p3 li.heart:after,
  .p3.proxy.heart:after {
    color: #b21f24; }
  ul.p3 li.diamond span:before, ul.p3 li.diamond:before,
  .p3.proxy.diamond span:before,
  .p3.proxy.diamond:before {
    content: "\2666";
    color: #b21f24; }
  ul.p3 li.diamond:after,
  .p3.proxy.diamond:after {
    color: #b21f24; }
  ul.p3 li.joker:before,
  .p3.proxy.joker:before {
    top: 6.6px;
    font-size: 51.33333px;
    width: 100%;
    text-align: center;
    color: black; }
  ul.p3 li.joker:after,
  .p3.proxy.joker:after {
    bottom: 4px;
    right: 6px;
    font-size: 22px;
    line-height: 1.2em; }
  ul.p3 li.joker:before, ul.p3 li.joker:after,
  .p3.proxy.joker:before,
  .p3.proxy.joker:after {
    position: absolute;
    font-family: "aaronfaces" !important; }
  ul.p3 li.joker-1:after, ul.p3 li.joker-3:after,
  .p3.proxy.joker-1:after,
  .p3.proxy.joker-3:after {
    color: white; }
  ul.p3 li.joker-2:after, ul.p3 li.joker-4:after,
  .p3.proxy.joker-2:after,
  .p3.proxy.joker-4:after {
    color: #cccccc; }
  ul.p3 li.joker-2, ul.p3 li.joker-4,
  .p3.proxy.joker-2,
  .p3.proxy.joker-4 {
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(0, #cccccc));
    background-image: -webkit-linear-gradient(-220deg, white, white 35%, #cccccc 0);
    background-image: linear-gradient(-50deg,white, white 35%, #cccccc 0); }
  ul.p3 li.joker-1:before,
  .p3.proxy.joker-1:before {
    content: "p"; }
  ul.p3 li.joker-1:after,
  .p3.proxy.joker-1:after {
    content: "p"; }
  ul.p3 li.joker-2:before,
  .p3.proxy.joker-2:before {
    content: "v"; }
  ul.p3 li.joker-2:after,
  .p3.proxy.joker-2:after {
    content: "v"; }
  ul.p3 li.joker-3:before,
  .p3.proxy.joker-3:before {
    content: "d"; }
  ul.p3 li.joker-3:after,
  .p3.proxy.joker-3:after {
    content: "d"; }
  ul.p3 li.joker-4:before,
  .p3.proxy.joker-4:before {
    content: "w"; }
  ul.p3 li.joker-4:after,
  .p3.proxy.joker-4:after {
    content: "w"; }
  ul.p3 li[data-card="ad"]:after, ul.p3 li[data-card="ah"]:after, ul.p3 li[data-card="ac"]:after, ul.p3 li[data-card="as"]:after,
  .p3.proxy[data-card="ad"]:after,
  .p3.proxy[data-card="ah"]:after,
  .p3.proxy[data-card="ac"]:after,
  .p3.proxy[data-card="as"]:after {
    content: "A"; }
  ul.p3 li[data-card="2d"]:after, ul.p3 li[data-card="2h"]:after, ul.p3 li[data-card="2c"]:after, ul.p3 li[data-card="2s"]:after,
  .p3.proxy[data-card="2d"]:after,
  .p3.proxy[data-card="2h"]:after,
  .p3.proxy[data-card="2c"]:after,
  .p3.proxy[data-card="2s"]:after {
    content: "2"; }
  ul.p3 li[data-card="3d"]:after, ul.p3 li[data-card="3h"]:after, ul.p3 li[data-card="3c"]:after, ul.p3 li[data-card="3s"]:after,
  .p3.proxy[data-card="3d"]:after,
  .p3.proxy[data-card="3h"]:after,
  .p3.proxy[data-card="3c"]:after,
  .p3.proxy[data-card="3s"]:after {
    content: "3"; }
  ul.p3 li[data-card="4d"]:after, ul.p3 li[data-card="4h"]:after, ul.p3 li[data-card="4c"]:after, ul.p3 li[data-card="4s"]:after,
  .p3.proxy[data-card="4d"]:after,
  .p3.proxy[data-card="4h"]:after,
  .p3.proxy[data-card="4c"]:after,
  .p3.proxy[data-card="4s"]:after {
    content: "4"; }
  ul.p3 li[data-card="5d"]:after, ul.p3 li[data-card="5h"]:after, ul.p3 li[data-card="5c"]:after, ul.p3 li[data-card="5s"]:after,
  .p3.proxy[data-card="5d"]:after,
  .p3.proxy[data-card="5h"]:after,
  .p3.proxy[data-card="5c"]:after,
  .p3.proxy[data-card="5s"]:after {
    content: "5"; }
  ul.p3 li[data-card="6d"]:after, ul.p3 li[data-card="6h"]:after, ul.p3 li[data-card="6c"]:after, ul.p3 li[data-card="6s"]:after,
  .p3.proxy[data-card="6d"]:after,
  .p3.proxy[data-card="6h"]:after,
  .p3.proxy[data-card="6c"]:after,
  .p3.proxy[data-card="6s"]:after {
    content: "6"; }
  ul.p3 li[data-card="7d"]:after, ul.p3 li[data-card="7h"]:after, ul.p3 li[data-card="7c"]:after, ul.p3 li[data-card="7s"]:after,
  .p3.proxy[data-card="7d"]:after,
  .p3.proxy[data-card="7h"]:after,
  .p3.proxy[data-card="7c"]:after,
  .p3.proxy[data-card="7s"]:after {
    content: "7"; }
  ul.p3 li[data-card="8d"]:after, ul.p3 li[data-card="8h"]:after, ul.p3 li[data-card="8c"]:after, ul.p3 li[data-card="8s"]:after,
  .p3.proxy[data-card="8d"]:after,
  .p3.proxy[data-card="8h"]:after,
  .p3.proxy[data-card="8c"]:after,
  .p3.proxy[data-card="8s"]:after {
    content: "8"; }
  ul.p3 li[data-card="9d"]:after, ul.p3 li[data-card="9h"]:after, ul.p3 li[data-card="9c"]:after, ul.p3 li[data-card="9s"]:after,
  .p3.proxy[data-card="9d"]:after,
  .p3.proxy[data-card="9h"]:after,
  .p3.proxy[data-card="9c"]:after,
  .p3.proxy[data-card="9s"]:after {
    content: "9"; }
  ul.p3 li[data-card="td"]:after, ul.p3 li[data-card="th"]:after, ul.p3 li[data-card="tc"]:after, ul.p3 li[data-card="ts"]:after,
  .p3.proxy[data-card="td"]:after,
  .p3.proxy[data-card="th"]:after,
  .p3.proxy[data-card="tc"]:after,
  .p3.proxy[data-card="ts"]:after {
    content: "10"; }
  ul.p3 li[data-card="jd"]:after, ul.p3 li[data-card="jh"]:after, ul.p3 li[data-card="jc"]:after, ul.p3 li[data-card="js"]:after,
  .p3.proxy[data-card="jd"]:after,
  .p3.proxy[data-card="jh"]:after,
  .p3.proxy[data-card="jc"]:after,
  .p3.proxy[data-card="js"]:after {
    content: "J"; }
  ul.p3 li[data-card="qd"]:after, ul.p3 li[data-card="qh"]:after, ul.p3 li[data-card="qc"]:after, ul.p3 li[data-card="qs"]:after,
  .p3.proxy[data-card="qd"]:after,
  .p3.proxy[data-card="qh"]:after,
  .p3.proxy[data-card="qc"]:after,
  .p3.proxy[data-card="qs"]:after {
    content: "Q"; }
  ul.p3 li[data-card="kd"]:after, ul.p3 li[data-card="kh"]:after, ul.p3 li[data-card="kc"]:after, ul.p3 li[data-card="ks"]:after,
  .p3.proxy[data-card="kd"]:after,
  .p3.proxy[data-card="kh"]:after,
  .p3.proxy[data-card="kc"]:after,
  .p3.proxy[data-card="ks"]:after {
    content: "K"; }

.p4.proxy {
  margin: -50px 30px 50px -30px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: .7;
  pointer-events: none; }

ul.p4 li {
  margin: 5px 5px 5px 5px; }

ul.p4 li,
.p4.proxy {
  line-height: 1em;
  position: relative;
  border-radius: 0;
  display: inline-block;
  width: 60px;
  height: 100px;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(35%, #cccccc), color-stop(0, white));
  background-image: -webkit-linear-gradient(-220deg, #cccccc, #cccccc 35%, white 0);
  background-image: linear-gradient(-50deg,#cccccc, #cccccc 35%, white 0);
  box-shadow: 0 0 0 1px #8c8c8c, 0 0 0 4px #a6a6a6, 0 0 0 5px #404040, 0 0 3px 6px rgba(0, 0, 0, 0.4);
  text-align: center; }
  ul.p4 li.suit:before, ul.p4 li.joker:before,
  .p4.proxy.suit:before,
  .p4.proxy.joker:before {
    content: "\00a0";
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    text-align: center;
    font-family: DotumChe, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", courier, serif;
    line-height: 1em;
    font-size: 35px; }
  ul.p4 li.suit:after,
  .p4.proxy.suit:after {
    position: absolute;
    top: 4px;
    left: 0;
    width: 40px;
    text-align: center;
    font-family: "Uralita";
    font-weight: 400;
    line-height: 1em;
    font-size: 35px; }
  ul.p4 li span,
  .p4.proxy span {
    position: absolute;
    bottom: 0;
    right: 6px; }
    ul.p4 li span:before,
    .p4.proxy span:before {
      font-size: 28px;
      line-height: 1em;
      color: white !important;
      font-family: serif; }
  ul.p4 li.spade span:before, ul.p4 li.spade:before,
  .p4.proxy.spade span:before,
  .p4.proxy.spade:before {
    content: "\2660";
    color: black; }
  ul.p4 li.spade:after,
  .p4.proxy.spade:after {
    color: black; }
  ul.p4 li.club span:before, ul.p4 li.club:before,
  .p4.proxy.club span:before,
  .p4.proxy.club:before {
    content: "\2663";
    color: black; }
  ul.p4 li.club:after,
  .p4.proxy.club:after {
    color: black; }
  ul.p4 li.heart span:before, ul.p4 li.heart:before,
  .p4.proxy.heart span:before,
  .p4.proxy.heart:before {
    content: "\2665";
    color: #b21f24; }
  ul.p4 li.heart:after,
  .p4.proxy.heart:after {
    color: #b21f24; }
  ul.p4 li.diamond span:before, ul.p4 li.diamond:before,
  .p4.proxy.diamond span:before,
  .p4.proxy.diamond:before {
    content: "\2666";
    color: #b21f24; }
  ul.p4 li.diamond:after,
  .p4.proxy.diamond:after {
    color: #b21f24; }
  ul.p4 li.joker:before,
  .p4.proxy.joker:before {
    top: 6px;
    font-size: 46.66667px;
    width: 100%;
    text-align: center;
    color: black; }
  ul.p4 li.joker:after,
  .p4.proxy.joker:after {
    bottom: 4px;
    right: 6px;
    font-size: 20px;
    line-height: 1.2em; }
  ul.p4 li.joker:before, ul.p4 li.joker:after,
  .p4.proxy.joker:before,
  .p4.proxy.joker:after {
    position: absolute;
    font-family: "aaronfaces" !important; }
  ul.p4 li.joker-1:after, ul.p4 li.joker-3:after,
  .p4.proxy.joker-1:after,
  .p4.proxy.joker-3:after {
    color: white; }
  ul.p4 li.joker-2:after, ul.p4 li.joker-4:after,
  .p4.proxy.joker-2:after,
  .p4.proxy.joker-4:after {
    color: #cccccc; }
  ul.p4 li.joker-2, ul.p4 li.joker-4,
  .p4.proxy.joker-2,
  .p4.proxy.joker-4 {
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(0, #cccccc));
    background-image: -webkit-linear-gradient(-220deg, white, white 35%, #cccccc 0);
    background-image: linear-gradient(-50deg,white, white 35%, #cccccc 0); }
  ul.p4 li.joker-1:before,
  .p4.proxy.joker-1:before {
    content: "p"; }
  ul.p4 li.joker-1:after,
  .p4.proxy.joker-1:after {
    content: "p"; }
  ul.p4 li.joker-2:before,
  .p4.proxy.joker-2:before {
    content: "v"; }
  ul.p4 li.joker-2:after,
  .p4.proxy.joker-2:after {
    content: "v"; }
  ul.p4 li.joker-3:before,
  .p4.proxy.joker-3:before {
    content: "d"; }
  ul.p4 li.joker-3:after,
  .p4.proxy.joker-3:after {
    content: "d"; }
  ul.p4 li.joker-4:before,
  .p4.proxy.joker-4:before {
    content: "w"; }
  ul.p4 li.joker-4:after,
  .p4.proxy.joker-4:after {
    content: "w"; }
  ul.p4 li[data-card="ad"]:after, ul.p4 li[data-card="ah"]:after, ul.p4 li[data-card="ac"]:after, ul.p4 li[data-card="as"]:after,
  .p4.proxy[data-card="ad"]:after,
  .p4.proxy[data-card="ah"]:after,
  .p4.proxy[data-card="ac"]:after,
  .p4.proxy[data-card="as"]:after {
    content: "A"; }
  ul.p4 li[data-card="2d"]:after, ul.p4 li[data-card="2h"]:after, ul.p4 li[data-card="2c"]:after, ul.p4 li[data-card="2s"]:after,
  .p4.proxy[data-card="2d"]:after,
  .p4.proxy[data-card="2h"]:after,
  .p4.proxy[data-card="2c"]:after,
  .p4.proxy[data-card="2s"]:after {
    content: "2"; }
  ul.p4 li[data-card="3d"]:after, ul.p4 li[data-card="3h"]:after, ul.p4 li[data-card="3c"]:after, ul.p4 li[data-card="3s"]:after,
  .p4.proxy[data-card="3d"]:after,
  .p4.proxy[data-card="3h"]:after,
  .p4.proxy[data-card="3c"]:after,
  .p4.proxy[data-card="3s"]:after {
    content: "3"; }
  ul.p4 li[data-card="4d"]:after, ul.p4 li[data-card="4h"]:after, ul.p4 li[data-card="4c"]:after, ul.p4 li[data-card="4s"]:after,
  .p4.proxy[data-card="4d"]:after,
  .p4.proxy[data-card="4h"]:after,
  .p4.proxy[data-card="4c"]:after,
  .p4.proxy[data-card="4s"]:after {
    content: "4"; }
  ul.p4 li[data-card="5d"]:after, ul.p4 li[data-card="5h"]:after, ul.p4 li[data-card="5c"]:after, ul.p4 li[data-card="5s"]:after,
  .p4.proxy[data-card="5d"]:after,
  .p4.proxy[data-card="5h"]:after,
  .p4.proxy[data-card="5c"]:after,
  .p4.proxy[data-card="5s"]:after {
    content: "5"; }
  ul.p4 li[data-card="6d"]:after, ul.p4 li[data-card="6h"]:after, ul.p4 li[data-card="6c"]:after, ul.p4 li[data-card="6s"]:after,
  .p4.proxy[data-card="6d"]:after,
  .p4.proxy[data-card="6h"]:after,
  .p4.proxy[data-card="6c"]:after,
  .p4.proxy[data-card="6s"]:after {
    content: "6"; }
  ul.p4 li[data-card="7d"]:after, ul.p4 li[data-card="7h"]:after, ul.p4 li[data-card="7c"]:after, ul.p4 li[data-card="7s"]:after,
  .p4.proxy[data-card="7d"]:after,
  .p4.proxy[data-card="7h"]:after,
  .p4.proxy[data-card="7c"]:after,
  .p4.proxy[data-card="7s"]:after {
    content: "7"; }
  ul.p4 li[data-card="8d"]:after, ul.p4 li[data-card="8h"]:after, ul.p4 li[data-card="8c"]:after, ul.p4 li[data-card="8s"]:after,
  .p4.proxy[data-card="8d"]:after,
  .p4.proxy[data-card="8h"]:after,
  .p4.proxy[data-card="8c"]:after,
  .p4.proxy[data-card="8s"]:after {
    content: "8"; }
  ul.p4 li[data-card="9d"]:after, ul.p4 li[data-card="9h"]:after, ul.p4 li[data-card="9c"]:after, ul.p4 li[data-card="9s"]:after,
  .p4.proxy[data-card="9d"]:after,
  .p4.proxy[data-card="9h"]:after,
  .p4.proxy[data-card="9c"]:after,
  .p4.proxy[data-card="9s"]:after {
    content: "9"; }
  ul.p4 li[data-card="td"]:after, ul.p4 li[data-card="th"]:after, ul.p4 li[data-card="tc"]:after, ul.p4 li[data-card="ts"]:after,
  .p4.proxy[data-card="td"]:after,
  .p4.proxy[data-card="th"]:after,
  .p4.proxy[data-card="tc"]:after,
  .p4.proxy[data-card="ts"]:after {
    content: "10"; }
  ul.p4 li[data-card="jd"]:after, ul.p4 li[data-card="jh"]:after, ul.p4 li[data-card="jc"]:after, ul.p4 li[data-card="js"]:after,
  .p4.proxy[data-card="jd"]:after,
  .p4.proxy[data-card="jh"]:after,
  .p4.proxy[data-card="jc"]:after,
  .p4.proxy[data-card="js"]:after {
    content: "J"; }
  ul.p4 li[data-card="qd"]:after, ul.p4 li[data-card="qh"]:after, ul.p4 li[data-card="qc"]:after, ul.p4 li[data-card="qs"]:after,
  .p4.proxy[data-card="qd"]:after,
  .p4.proxy[data-card="qh"]:after,
  .p4.proxy[data-card="qc"]:after,
  .p4.proxy[data-card="qs"]:after {
    content: "Q"; }
  ul.p4 li[data-card="kd"]:after, ul.p4 li[data-card="kh"]:after, ul.p4 li[data-card="kc"]:after, ul.p4 li[data-card="ks"]:after,
  .p4.proxy[data-card="kd"]:after,
  .p4.proxy[data-card="kh"]:after,
  .p4.proxy[data-card="kc"]:after,
  .p4.proxy[data-card="ks"]:after {
    content: "K"; }

.game header {
  height: 45px;
  line-height: 45px;
  box-shadow: 0 0 3px 1px black; }
  .game header h1 {
    padding-left: 10px;
    font-family: Uralita;
    font-weight: bold;
    font-size: 35px; }
  .game header nav {
    position: absolute;
    top: 0;
    right: 10px; }
    .game header nav li {
      display: inline-block; }
.game .board {
  margin-top: 10px;
  margin-left: 10px;
  float: left; }
.game .cards {
  position: relative;
  margin-top: 10px;
  margin-left: 7px;
  float: left;
  width: 392.85714px;
  height: 550px;
  font-size: 0; }
  .game .cards .hand, .game .cards .discarded {
    position: absolute; }
  .game .cards .hand {
    bottom: 3px; }
  .game .cards .discarded {
    top: 0; }
.game .players {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: 212.18317px;
  height: 550px; }
  .game .players h1 {
    font-family: Uralita;
    font-size: 30px;
    display: none; }
  .game .players li {
    line-height: 1em;
    margin-bottom: 1em;
    font-family: "Open Sans";
    font-size: 2px;
    position: relative;
    color: white;
    text-shadow: 0 0 2px black; }
    .game .players li:before {
      content: "\00a0";
      display: inline-block;
      margin: 5px 10px 5px 5px;
      width: 1em;
      height: 1em;
      margin: 5px 15px 5px 5px;
      background-color: white; }
.game .avatars li {
  line-height: 2px;
  margin-top: 1em;
  font-family: "Open Sans";
  font-size: 2px; }
  .game .avatars li img {
    position: relative;
    vertical-align: middle;
    max-height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px black, 0 0 0 3px white, 0 0 0 4px black;
    margin: 4px 5.25px 4px 4px; }
  .game .avatars li.active img {
    box-shadow: 0 0 0 1px black, 0 0 0 5px #48dd3c, 0 0 0 6px black, 0 0 4px 7px rgba(0, 0, 0, 0.4); }

.board {
  font-size: 0;
  width: 550px; }
  .board li {
    display: inline-block;
    margin: 5px 9px 9px 5px; }
    .board li:nth-child(10n) {
      margin-right: 5px; }

.dragging .board li:hover, .dragging .board li.hover {
  box-shadow: 0 0 0 1px #555555, 0 0 0 4px #8f8f8f, 0 0 0 5px #555555 !important;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(50%, #f2f2f2), color-stop(0, #d2d2d2));
  background-image: -webkit-linear-gradient(-45deg, #f2f2f2, #f2f2f2 50%, #d2d2d2 0);
  background-image: linear-gradient(-225deg,#f2f2f2, #f2f2f2 50%, #d2d2d2 0); }

.over-board {
  opacity: .4;
  pointer-events: none;
  margin: -20.5px 20.5px 20.5px -20.5px;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25); }

.board li,
.over-board {
  position: relative;
  width: 41px;
  height: 41px;
  box-shadow: 0 0 0 1px #aaaaaa, 0 0 0 4px #dfdfdf, 0 0 0 5px #aaaaaa;
  background-color: white;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, white), color-stop(0, #f2f2f2));
  background-image: -webkit-linear-gradient(-45deg, white, white 50%, #f2f2f2 0);
  background-image: linear-gradient(-225deg,white, white 50%, #f2f2f2 0); }
  .board li:after,
  .over-board:after {
    position: absolute;
    bottom: 4px;
    right: 2px;
    font-size: 20.5px;
    vertical-align: bottom;
    padding: 0;
    line-height: .75em;
    font-family: serif; }
  .board li:before,
  .over-board:before {
    position: absolute;
    top: 2px;
    left: 6px;
    width: 25%;
    height: 25%;
    font-size: 19.52381px;
    font-family: "Uralita";
    font-weight: 200; }
  .board li.spade:after,
  .over-board.spade:after {
    content: "\2660"; }
  .board li.club:after,
  .over-board.club:after {
    content: "\2663"; }
  .board li.heart:after,
  .over-board.heart:after {
    content: "\2665";
    color: #b21f24; }
  .board li.diamond:after,
  .over-board.diamond:after {
    content: "\2666";
    color: #b21f24; }
  .board li.heart:before, .board li.diamond:before,
  .over-board.heart:before,
  .over-board.diamond:before {
    color: #b21f24; }
  .board li.joker:before,
  .over-board.joker:before {
    font-size: 30.75px;
    top: 0;
    left: 0;
    text-align: center;
    height: 41px;
    width: 41px;
    line-height: 41px; }
  .board li.joker:before, .board li.joker:after,
  .over-board.joker:before,
  .over-board.joker:after {
    position: absolute;
    font-family: "aaronfaces" !important; }
  .board li.joker-1:before,
  .over-board.joker-1:before {
    content: "p"; }
  .board li.joker-2:before,
  .over-board.joker-2:before {
    content: "v"; }
  .board li.joker-3:before,
  .over-board.joker-3:before {
    content: "d"; }
  .board li.joker-4:before,
  .over-board.joker-4:before {
    content: "w"; }
  .board li[data-card="ad"]:before, .board li[data-card="ah"]:before, .board li[data-card="ac"]:before, .board li[data-card="as"]:before,
  .over-board[data-card="ad"]:before,
  .over-board[data-card="ah"]:before,
  .over-board[data-card="ac"]:before,
  .over-board[data-card="as"]:before {
    content: "A"; }
  .board li[data-card="2d"]:before, .board li[data-card="2h"]:before, .board li[data-card="2c"]:before, .board li[data-card="2s"]:before,
  .over-board[data-card="2d"]:before,
  .over-board[data-card="2h"]:before,
  .over-board[data-card="2c"]:before,
  .over-board[data-card="2s"]:before {
    content: "2"; }
  .board li[data-card="3d"]:before, .board li[data-card="3h"]:before, .board li[data-card="3c"]:before, .board li[data-card="3s"]:before,
  .over-board[data-card="3d"]:before,
  .over-board[data-card="3h"]:before,
  .over-board[data-card="3c"]:before,
  .over-board[data-card="3s"]:before {
    content: "3"; }
  .board li[data-card="4d"]:before, .board li[data-card="4h"]:before, .board li[data-card="4c"]:before, .board li[data-card="4s"]:before,
  .over-board[data-card="4d"]:before,
  .over-board[data-card="4h"]:before,
  .over-board[data-card="4c"]:before,
  .over-board[data-card="4s"]:before {
    content: "4"; }
  .board li[data-card="5d"]:before, .board li[data-card="5h"]:before, .board li[data-card="5c"]:before, .board li[data-card="5s"]:before,
  .over-board[data-card="5d"]:before,
  .over-board[data-card="5h"]:before,
  .over-board[data-card="5c"]:before,
  .over-board[data-card="5s"]:before {
    content: "5"; }
  .board li[data-card="6d"]:before, .board li[data-card="6h"]:before, .board li[data-card="6c"]:before, .board li[data-card="6s"]:before,
  .over-board[data-card="6d"]:before,
  .over-board[data-card="6h"]:before,
  .over-board[data-card="6c"]:before,
  .over-board[data-card="6s"]:before {
    content: "6"; }
  .board li[data-card="7d"]:before, .board li[data-card="7h"]:before, .board li[data-card="7c"]:before, .board li[data-card="7s"]:before,
  .over-board[data-card="7d"]:before,
  .over-board[data-card="7h"]:before,
  .over-board[data-card="7c"]:before,
  .over-board[data-card="7s"]:before {
    content: "7"; }
  .board li[data-card="8d"]:before, .board li[data-card="8h"]:before, .board li[data-card="8c"]:before, .board li[data-card="8s"]:before,
  .over-board[data-card="8d"]:before,
  .over-board[data-card="8h"]:before,
  .over-board[data-card="8c"]:before,
  .over-board[data-card="8s"]:before {
    content: "8"; }
  .board li[data-card="9d"]:before, .board li[data-card="9h"]:before, .board li[data-card="9c"]:before, .board li[data-card="9s"]:before,
  .over-board[data-card="9d"]:before,
  .over-board[data-card="9h"]:before,
  .over-board[data-card="9c"]:before,
  .over-board[data-card="9s"]:before {
    content: "9"; }
  .board li[data-card="td"]:before, .board li[data-card="th"]:before, .board li[data-card="tc"]:before, .board li[data-card="ts"]:before,
  .over-board[data-card="td"]:before,
  .over-board[data-card="th"]:before,
  .over-board[data-card="tc"]:before,
  .over-board[data-card="ts"]:before {
    content: "10"; }
  .board li[data-card="jd"]:before, .board li[data-card="jh"]:before, .board li[data-card="jc"]:before, .board li[data-card="js"]:before,
  .over-board[data-card="jd"]:before,
  .over-board[data-card="jh"]:before,
  .over-board[data-card="jc"]:before,
  .over-board[data-card="js"]:before {
    content: "J"; }
  .board li[data-card="qd"]:before, .board li[data-card="qh"]:before, .board li[data-card="qc"]:before, .board li[data-card="qs"]:before,
  .over-board[data-card="qd"]:before,
  .over-board[data-card="qh"]:before,
  .over-board[data-card="qc"]:before,
  .over-board[data-card="qs"]:before {
    content: "Q"; }
  .board li[data-card="kd"]:before, .board li[data-card="kh"]:before, .board li[data-card="kc"]:before, .board li[data-card="ks"]:before,
  .over-board[data-card="kd"]:before,
  .over-board[data-card="kh"]:before,
  .over-board[data-card="kc"]:before,
  .over-board[data-card="ks"]:before {
    content: "K"; }

.cards li {
  margin-right: 30px !important;
  margin-bottom: 30px !important; }

h1 {
  font-family: uralita;
  font-size: 48px;
  text-align: center;
  padding: 10px 0 20px 0;
  font-weight: bold; }

.p1, .p2, .p3, .p4 {
  position: relative;
  display: block; }
  .p1:after, .p2:after, .p3:after, .p4:after {
    clear: both; }

.board {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px; }

.cards {
  margin-left: 50%;
  top: 0;
  right: 0;
  width: 50%; }
