$space: "\00a0";


@mixin cards($class, $height, $frameWidth, $baseColor, $black: $DEFAULT_BLACK, $red: $DEFAULT_RED, $faceColor: white, $radius: 2px) {

  $heart: "\2665";
  $spade: "\2660";
  $club: "\2663";
  $diamond: "\2666";
  $frameColor: darken(desaturate($baseColor, 10%), 15%);
  $innerLine: 0 0 0 1px darken($frameColor, 10%);
  $frame: 0 0 0 $frameWidth - 1 $frameColor;
  $outerLine: 0 0 0 $frameWidth darken($frameColor, 40%);
  $shadow: 0 0 3px $frameWidth + 1 rgba(0, 0, 0, .4);
  $width: $height * 3/5;

  ul.#{$class} {

    li {
      line-height: 1em;
      position: relative;
      border-radius: $radius;
      display: inline-block;
      width: $width;
      height: $height;
      @include linear-gradient(-50deg, $baseColor, $baseColor 35%, $faceColor 0);
      box-shadow: $innerLine, $frame, $outerLine, $shadow;
      margin: $frameWidth $frameWidth $frameWidth $frameWidth;
      text-align: center;

      &.suit:before,
      &.joker:before {

        content: $space;
        position: absolute;
        top: $width * 2/3;
        left: 0;
        width: $width * 2/3;
        text-align: center;
        font-family: arial;
        line-height: 1em;
        font-size: $width * 2/3 - 5;

      }

      &.suit:after {
        position: absolute;
        top: 4px;
        left: 0;
        width: $width * 2/3;
        text-align: center;
        font-family: $cardFont;
        line-height: 1em;
        font-size: $width * 2/3 - 5;
      }

      span {
        position: absolute;
        bottom: 0;
        right: $width/10;

        &:before {
          font-size: $width * 21/45;
          line-height: 1em;
          color: white !important;
          font-family: serif;
        }
      }

      &.spade {
        span:before, &:before {
          content: $spade;
          color: $black;
        }
        &:after {
          color: $black;
        }
      }

      &.club {
        span:before, &:before {
          content: $club;
          color: $black;
        }
        &:after {
          color: $black;
        }
      }

      &.heart {
        span:before, &:before {
          content: $heart;
          color: $red;
        }
        &:after {
          color: $red;
        }
      }

      &.diamond {
        span:before, &:before {
          content: $diamond;
          color: $red;
        }
        &:after {
          color: $red;
        }
      }

      &.joker:before {
        top: $width/10;
        font-size: $width * 7/9;
        width: 100%;
        text-align: center;
        color: $black;
      }

      &.joker:after {
        bottom: 4px;
        right: 6px;
        font-size: $width/3;
        line-height: 1.2em;
      }

      &.joker:before,
      &.joker:after {
        position: absolute;
        font-family: $jokerFont !important;
      }

      &.joker-1:after,
      &.joker-3:after {
        color: white;
      }

      &.joker-2:after,
      &.joker-4:after, {
        color: $baseColor;
      }

      &.joker-2,
      &.joker-4 {

        @include linear-gradient(-50deg, $faceColor, $faceColor 35%, $baseColor 0);
      }


      $jokerCharacters: o, v, x, w;
      @for $i from 1 through 4 {

        &.joker-#{$i}:before {
          content: "#{nth($jokerCharacters, $i)}";
        }

        &.joker-#{$i}:after {
          content: "#{nth($jokerCharacters, $i)}";
        }
      }

      $cardValues: a 2 3 4 5 6 7 8 9 t j q k;
      $cardCharacters: A 2 3 4 5 6 7 8 9 10 J Q K;

      @for $i from 1 through 13 {

        $value: nth($cardValues, $i);
        &[data-card="#{$value}d"]:after,
        &[data-card="#{$value}h"]:after,
        &[data-card="#{$value}c"]:after,
        &[data-card="#{$value}s"]:after {
          content: "#{nth($cardCharacters, $i)}";
        }
      }
    }
  }
}


@each $class in p1, p2, p3, p4, discarded {

}

.firefox .cards li.suit:before {
  font-size: 90px;
  vertical-align: top;
}

