$colors: #dce5d3 #ca8585 #d2dde3 #f47134 #6bd1f7 #baecca;
$colorIndex: 2;
$faceColor: white;
$baseColors: nth($colors, $colorIndex) adjust_hue(nth($colors, $colorIndex), 160deg)  adjust_hue(nth($colors, $colorIndex), 90deg)  adjust_hue(nth($colors, $colorIndex), 270deg);
$suitBlacks: desaturate(darken(nth($baseColors, 1), 50%), 20%) desaturate(darken(nth($baseColors, 2), 50%), 20%) desaturate(darken(nth($baseColors, 3), 50%), 20%) desaturate(darken(nth($baseColors, 4), 50%), 20%);
//#270e02; //#0a1a2e; //#071320;
$suitRed: #d1343f; //#d01100; //#ec323f;