@import "reset";
@import "bourbon/bourbon";
@import "fonts";
@import "colors";
@import "helpers";

$red: darken(red, 15%);
;

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
}

@media all and (max-height: 775px) {

  @include game(550px, 50px, 4px);
  @include board(550px, 5px, 4px);
  @include cards(hand, 110px, 6px, #ca8585, $radius: 0);
  @include cards(discarded, 110px, 6px, #ccc, $radius: 0);
  @include cells(p1, #ca8585, 5px);
  @include cells(p2, adjust_hue(#ca8585, 90deg), 5px);
  @include cells(p3, adjust_hue(#ca8585, 180deg), 5px);
  @include cells(p4, adjust_hue(#ca8585, 270deg), 5px);
  .hand li, .discarded li {
    margin-right: -22px !important;
  }

}

@media all and (min-height: 776px) {

  @include game(700px, 60px, 6px, $spacing: 20px);
  @include board(700px, 6px, 5px);
  @include cards(hand, 150px, 8px, #ca8585, $radius: 0);
  @include cards(discarded, 150px, 8px, #ccc, $radius: 0);
  @include cells(p1, #ca8585, 5px);
  @include cells(p2, adjust_hue(#ca8585, 90deg), 6px);
  @include cells(p3, adjust_hue(#ca8585, 180deg), 6px);
  @include cells(p4, adjust_hue(#ca8585, 270deg), 6px);
  .hand li, .discarded li {
    margin-right: -30px !important;
  }
}

body {

  & > section {
    display: none;
  }

  &.home {
    #home {
      display: block;
    }
  }

  &.wizard {
    #wizard {
      display: block;
    }
  }

  &.game {
    #game {
      display: block;
    }
  }

  &.tutorial {
    #tutorial {
      display: block;
    }
  }

  &.gameover {
    #dialog {
      display: block;
    }
    #game {
      li:not(.sequence), .cards {
        opacity: .2;
      }
    }
  }
}

#home {

  @include dialog;

  button {
    @include jax-button;
    &:before {
      padding-right: 8px;
    }
  }

  .play-online:before {
    font-family: courier;
    content: '#{$diamond}';
  }

  .new-game:before {
    font-family: courier;
    content: '#{$spade}';
  }

  .rules:before {
    font-family: courier;
    content: '#{$club}';
  }
}

#dialog {

  @include dialog;
  display: none;
  z-index: 99999;

  .message {
    font-family: "Uralita";
    font-weight: bold;
    font-size: 48px;
    color: white;
    text-shadow: 0 0 3px black;
  }

  button {
    @include jax-button;
  }
}

#message {
  position: fixed;
  left: 50%;
  width: 300px;
  margin: 20px 0 0 -150px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 0 1px white, 0 0 6px 1px black;
  background-color: white;
  padding: 12px 15px 12px 15px;
  //font-family: Tahoma, Arial, SANS-SERIF;
  font-size: 16px;
}

#tutorial {

  margin: 15px auto;
  width: 700px;
  display: none;

  .buttons {
    margin-top: 15px;
    text-align: center;
  }

  p {
    font: 14px/2em "Open Sans";
  }

  button {
    @include jax-button;
    width: 100px;
  }
}

#game {

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../images/crossed_stripes.png");

  header {

    position: relative;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 0 1px darken($suitRed, 60%), 0 0 0 6px white, 0 0 0 7px darken($suitRed, 60%), 0 0 3px 8px rgba(0, 0, 0, .35);
    @include linear-gradient($suitRed, $suitRed 50%, #b21f24 50%);
    margin-bottom: 7px;
    z-index: 9999;

    h1 {
      font-family: "Uralita";
      font-size: 40px;
      font-weight: bold;
      text-shadow: 0 0 5px black;
      color: white;
      padding-left: 13px;
    }

    nav {
      position: absolute;
      right: 0;
      top: 0;

      li {
        @include jax-button;
        line-height: 12px;
        font-size: 18px;
        margin-top: 8px !important;
        display: inline-block;
      }
    }
  }

  .cards {

    .hand {

      li {
        @include transition(margin .1s ease-in);
        //margin: 5px 5px 5px -30px;

        &.active {
          margin-top: -50px;
          margin-bottom: 50px;
        }

        &.dragged {
          opacity: .5;
        }

        &.ui-draggable-dragging {
          z-index: 10000;
        }
      }
    }
  }

  &.dragging {
    cursor: move;
  }
}

footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  font-family: "Open Sans", sans-serf !important;
  text-align: center;
}

.windows {

  #wizard, #tutorial {

    .next, .prev {
      &:before {
        line-height: 10px !important;
      }
    }
  }
}