@import "reset";
@import "bourbon/bourbon";
@import "fonts";
@import "colors";
@import "helpers";


@include cards(p1, 150px, 8px, #eba897, $radius: 0);
@include cards(p2, 120px, 7px, #ccc, $radius: 0);
@include cards(p3, 110px, 6px, #ccc, $radius: 0);
@include cards(p4, 100px, 5px, #ccc, $radius: 0);


@include game(550px, 5px, 4px);
@include board(550px, 5px, 4px);

.cards li {
  margin-right: 15px !important;
  margin-bottom: 15px !important;
}

h1 {
  font-family: uralita;
  font-size: 48px;
  text-align: center;
  padding: 10px 0 20px 0;
  font-weight: bold;

}

.p1, .p2, .p3, .p4 {
  position: relative;
  display: block;

  &:after {
    clear: both;
  }
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;

}

.cards {
  margin-left: 50%;
  top: 0;
  right: 0;
  width: 50%;
}